<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý bài đăng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/index">Tìm trọ Sever</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="  navbar-nav fmy-2 my-lg-0  mr-auto">
                <li style="display: none" class="nav-item">
                    <a class="nav-link" href="/createAdAc">Quản lý nhân viên</a>
                </li>
            </ul>

            <ul class="  navbar-nav fmy-2 my-lg-0 ">
                <li class="nav-item">

                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark text-light dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tài khoản
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/index">Tài khoản của bạn</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/">Đăng xuất</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-2">
            <div class="list-group">

                <a href="/index" class="list-group-item list-group-item-action">
                    Thống kê
                </a>
                <a href="/postManage" class="list-group-item list-group-item-action">
                    Quản lý bài đăng
                </a>
                <a href="/userManage" class="list-group-item list-group-item-action">
                    Quản lý người dùng
                </a>
                <a href="/createAdAc" class="list-group-item list-group-item-action">
                    Quản lý nhân viên
                </a>
                <a href="/history" class="list-group-item list-group-item-action">
                    Lịch sử
                </a>
            </div>
        </div>
        <div class="col-sm-10 bg-light" style="padding-right: 2%">
            <table style="margin-left: 10px;margin-right: 10px" class="table  table-bordered">
                <thead class="thead-dark ">
                <tr>
                    <th colspan="3">Nâng quyền người dùng</th>
                </tr>
                <tr>
                    <th scope="col">Thông tin cơ bản</th>
                    <th scope="col">Thông tin xác minh</th>
                    <th scope="col">Thao tác</th>
                </tr>
                </thead>
                <tbody>
                {{#each listUpgrade}}
                    <tr id='row-{{this._id}}'>
                        <td>
                            <div><b>Ngày tạo yêu cầu: </b> <br>{{this.createAt}}</div>
                            <hr>
                            <div><b>Họ và tên: </b> <br> {{this.user.full_name}}</div>
                            <br>
                            <div><b>Số điện thoại: </b> <br>{{this.user.phone_number}}</div>
                            <br>
                            <div><b>Địa chỉ: </b> <br> {{this.user.address.detailAddress}}
                                , {{this.user.address.communeWardTown}}
                                , {{this.user.address.districtsTowns}}, {{this.user.address.provinceCity}}
                            </div>
                            <br>
                            <div><b>Giới tính: </b> <br> {{this.user.gender}}</div>
                            <br>
                            <div><b>Ngày sinh: </b> <br> {{this.user.birth}}</div>
                        </td>
                        <td>
                            <div><b>Loại: </b> {{this.identityCard.type}}</div>
                            <br>
                            <div><b>Số: </b> {{this.identityCard.code}}</div>
                            <br>
                            <div><b>Họ và tên: </b> {{this.identityCard.name}}</div>
                            <br>
                            <div><b>Ngày, tháng, năm sinh: </b> {{this.identityCard.date}}</div>
                            <br>
                            <div><b>Giới tính: </b> {{this.identityCard.gender}}</div>
                            <br>
                            <div><b>Quên quán: </b> {{this.identityCard.homeTown}}</div>
                            <br>
                            <div><b>Nơi thường trú: </b> {{this.identityCard.resident}}</div>
                            <br>
                            <div><b>Quốc tịch: </b> {{this.identityCard.nationality}}</div>
                            <br>
                            <div><b>Nơi cấp: </b> {{this.identityCard.issuedBy}}</div>
                            <br>
                            <div><b>Có giá trị đến: </b> {{this.identityCard.expiryDate}}</div>
                            <br>
                            <div class="col">
                                <div><b>Ảnh mặt trước</b><br>
                                    <img name="image-product"
                                         width="350px"
                                         height="350px"
                                         src="http://128.199.99.9:9090/{{this.identityCard.image.previous}}"
                                         alt="{{this.identityCard.image.previous}}">
                                </div>
                                <br>
                                <div><b>Ảnh mặt sau</b><br>
                                    <img name="image-product"
                                         width="350px"
                                         height="350px"
                                         src="http://128.199.99.9:9090/{{this.identityCard.image.behind}}"
                                         alt="{{this.identityCard.image.behind}}">
                                </div>
                                <br>
                                <div><b>Ảnh chụp cả mặt và mặt trước giấy tờ xác
                                    minh</b><br>
                                    <img name="image-product"
                                         width="350px"
                                         height="350px"
                                         src="http://128.199.99.9:9090/{{this.identityCard.image.hasFace}}"
                                         alt="{{this.identityCard.image.hasFace}}">
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="col">
                                <button name="update" value="1"
                                        class="btn btn-success" onclick="confirmUpgrade('{{this._id}}')">Duyệt
                                </button>
                                <button name="update" value="1" class="btn btn-danger"
                                        onclick="cancelUpgrade('{{this._id}}')">
                                    Từ chối duyệt
                                </button>
                            </div>
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="titleDialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleDialog">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="contentDialog" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button id="cancelDialog" type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button id="successDialog" type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    let titleStt = 'Thông báo';
    let content = '';
    let titleOK = '';
    let titleCancel = '';

    function confirmUpgrade(id) {
        let adminId = '5fd4d983c89b6cc9ccfc86f2';
        let data = {
            id: id,
            adminId: adminId
        }
        console.log(data)
        $.ajax({
            type: "POST",
            url: "/confirm-upgrade",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (res) {
                if (!res) {
                    content = 'Có lỗi sảy ra. Vui lòng thử lại sau!';
                    titleOK = 'Trở lại';
                    $('#successDialog').click(function () {
                        location.href = 'index';
                    });
                } else {
                    let resCode = res.response_header.res_code;
                    if (resCode == 200) {
                        $("#row-" + id).remove();
                        content = 'Từ chối duyệt thành công!';
                        titleOK = 'Trở lại';
                        $('#successDialog').click(function () {
                            location.href = 'userManage';
                        });
                    } else {
                        content = 'Từ chối duyệt thất bại. Vui lòng thử lại sau!';
                        titleOK = 'Thử lại';
                        $('#successDialog').click(function () {
                            location.href = 'index';
                        });
                    }
                }
                showDialog(titleStt, content, titleOK);
            }
        });
    }

    function cancelUpgrade(id) {
        let adminId = '5fd4d983c89b6cc9ccfc86f2';
        let data = {
            id: id,
            adminId: adminId
        }
        console.log(data)
        $.ajax({
            type: "POST",
            url: "/cancel-upgrade",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (res) {
                if (!res) {
                    content = 'Có lỗi sảy ra. Vui lòng thử lại sau!';
                    titleOK = 'Trở lại';
                    $('#successDialog').click(function () {
                        location.href = 'index';
                    });
                } else {
                    let resCode = res.response_header.res_code;
                    if (resCode == 200) {
                        $("#row-" + id).remove();
                        content = 'Từ chối duyệt thành công!';
                        titleOK = 'Trở lại';
                        $('#successDialog').click(function () {
                            location.href = 'userManage';
                        });
                    } else {
                        content = 'Từ chối duyệt thất bại. Vui lòng thử lại sau!';
                        titleOK = 'Thử lại';
                        $('#successDialog').click(function () {
                            location.href = 'index';
                        });
                    }
                }
                showDialog(titleStt, content, titleOK);
            }
        });
    }

    function showDialog(title, content, titleOK) {
        $('#dialog').modal('show');
        $('#titleDialog').text(title);
        $('#contentDialog').text(content);
        $('#cancelDialog').css("display", "none");
        $('#successDialog').text(titleOK);
    }
</script>
</body>
</html>
