<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, Ample lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Ample admin lite dashboard bootstrap 4 dashboard template">
    <meta name="description"
          content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Duyệt bài đăng</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/"/>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png"
          href="http://128.199.99.9:9090/public/uploads/3fa2359d05f69391d42cea22e54ef1e2.png"/>
    <!-- Custom CSS -->
    <link href="public/interface/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="public/interface/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <!-- Custom CSS -->
    <link href="public/interface/css/style.min.css" rel="stylesheet">
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin6">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" href="index">
                    <span class="span-title-e">SmartFindPro</span>
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                   href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav d-none d-md-block d-lg-none">
                    <li class="nav-item">
                        <a class="nav-toggler nav-link waves-effect waves-light text-white"
                           href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav ml-auto d-flex align-items-center">

                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
                    <!--                    <li class=" in">-->
                    <!--                        <form role="search" class="app-search d-none d-md-block mr-3">-->
                    <!--                            <input type="text" placeholder="Tìm kiếm..." class="form-control mt-0">-->
                    <!--                            <a href="" class="active">-->
                    <!--                                <i class="fa fa-search"></i>-->
                    <!--                            </a>-->
                    <!--                        </form>-->
                    <!--                    </li>-->
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <li>
                        <a class="profile-pic" href="#">
                            <span class="text-white font-medium">{{user}}</span></a>
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <!-- User Profile-->
                    <li class="sidebar-item pt-2">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index"
                           aria-expanded="false">
                            <i class="far fa-clock" aria-hidden="true"></i>
                            <span class="hide-menu">Thống kê</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="userManage"
                           aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="hide-menu">Quản lý Tài khoản</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="postManage"
                           aria-expanded="false">
                            <i class="fas fa-folder-open" aria-hidden="true"></i>
                            <span class="hide-menu">Quản lý Bài viết</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="createAdAc"
                           aria-expanded="false">
                            <i class="fas fa-id-card-alt" aria-hidden="true"></i>
                            <span class="hide-menu">Quản lý Nhân viên</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="history"
                           aria-expanded="false">
                            <i class="fas fa-history" aria-hidden="true"></i>
                            <span class="hide-menu">Lịch sử Hoạt động</span>
                        </a>
                    </li>
                    <!--                    <li class="sidebar-item">-->
                    <!--                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="reportProduct"-->
                    <!--                           aria-expanded="false">-->
                    <!--                            <i class="fas fa-comment-slash" aria-hidden="true"></i>-->
                    <!--                            <span class="hide-menu">Báo cáo</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="confirmUser"
                           aria-expanded="false">
                            <i class=" fas fa-arrow-circle-up" aria-hidden="true"></i>
                            <span class="hide-menu">Nâng cấp Tài khoản</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/"
                           aria-expanded="false">
                            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                            <span class="hide-menu">Đăng xuất</span>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->

    <div class="page-wrapper">
        <div class="container-fluid">

            <div class="white-box analytics-info">
                <div class="row">
                    <div class="col">
                        <h1>Duyệt phòng trọ</h1>
                    </div>
                    <div class=" column border" style="padding: 2%">
                        <h6>Thời gian đăng bài: {{product.createAt}}</h6>
                        <h6>Tài khoản duyệt: {{info.admin}}</h6>
                    </div>
                </div>
                <h>Ngày khảo sát</h>
                <input id="date-success" type="date" style="margin-left: 4%">

                <h3>Thông tin người đăng</h3>
                <div class="column" style="margin-left: 4%">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 20%">Thông tin</th>
                            <th style="width: 80%">Chi tiết</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th>Họ và tên</th>
                            <td>{{product.user.full_name}}</td>
                        </tr>
                        <tr>
                            <th>Địa chỉ</th>
                            <td>{{product.user.address.detailAddress}}, {{product.user.address.communeWardTown}}
                                , {{product.user.address.districtsTowns}}
                                , {{product.user.address.provinceCity}}</td>
                        </tr>
                        <tr>
                            <th>Điện thoại</th>
                            <td>{{product.user.phone_number}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <h3>Thông tin phòng</h3>
                <div class="column" style="margin-left: 4%">
                    <table class="table  table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 15%">Loại</th>
                            <th style="width: 70%">Chi tiết</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">Địa chỉ</th>
                            <td>
                                <input class="form-control"
                                       value="{{product.address.detailAddress}}, {{product.address.communeWardTown}}, {{product.address.districtsTowns}}, {{product.address.provinceCity}}"
                                       type="text" id="idAddress" placeholder="Nhập địa chỉ ..." disabled>
                                <!--                            <div class="d-flex flex-row-reverse">-->
                                <!--                                <div class="p-2">-->
                                <!--                                    <button id="updateAddress" type="button" class="btn btn-success">Sửa-->
                                <!--                                    </button>-->
                                <!--                                </div>-->
                                <!--                                <div class="p-2">-->
                                <!--                                    <button id="cancelUpdateAddress" type="button" class="btn btn-primary">Hủy-->
                                <!--                                    </button>-->
                                <!--                                </div>-->
                                <!--                            </div>-->
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Thông tin phòng</th>
                            <td>
                                <table class="table table-borderless">
                                    <tbody>
                                    <tr>
                                        <th scope="col" style="width: 30%">Loại</th>
                                        <td scope="col">
                                            <select name="type" id="slType" class="form-control" disabled>
                                                <option value="Ở GHÉP">Ở ghép</option>
                                                <option value="CHUNG CƯ">Chung cư</option>
                                                <option value="NGUYÊN CĂN">Nguyên căn</option>
                                                <option value="NHÀ TRỌ">Nhà trọ</option>
                                            </select>
                                            <div class="d-flex flex-row-reverse">
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-success" id="updateType">
                                                        Sửa
                                                    </button>
                                                </div>
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-primary"
                                                            id="cancelUpdateType">Hủy
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="width: 30%">Số người</th>
                                        <td scope="col">
                                            <input class="form-control" type="number"
                                                   value="{{product.product.information.amountPeople}}"
                                                   id="idAmountPeople"
                                                   min="1"
                                                   max="100" disabled>
                                            <div class="d-flex flex-row-reverse">
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-success"
                                                            id="updateAmountPeople">Sửa
                                                    </button>
                                                </div>
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-primary"
                                                            id="cancelUpdateAmountPeople">Hủy
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="width: 30%">Giới tính</th>
                                        <td scope="col">
                                            <select name="gender" id="slGender" class="form-control" disabled>
                                                <option value="NAM">Nam</option>
                                                <option value="NỮ">Nữ</option>
                                                <option value="TẤT CẢ">Tất cả</option>
                                            </select>
                                            <div class="d-flex flex-row-reverse">
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-success" id="updateGender">
                                                        Sửa
                                                    </button>
                                                </div>
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-primary"
                                                            id="cancelUpdateGender">Hủy
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="width: 30%">Tiện ích</th>
                                        <td scope="col">
                                            <div id="idDivUtilities">
                                                {{#each utilities}}
                                                    <input name="utilities" class="form-check-input" type="checkbox"
                                                           value="{{this.utilities}}"
                                                           id="cb-{{this.id}}">
                                                    <label class="form-check-label" for="cb-{{this.id}}">
                                                        {{this.utilities}}
                                                    </label>
                                                    <br>
                                                {{/each}}
                                            </div>
                                            <div style="margin-top: 10px">
                                                <input class="form-control" type="text" id="idUtilities"
                                                       placeholder="Nhập vào đây ..." disabled
                                                       style="display: none">
                                                <div class="d-flex flex-row-reverse">
                                                    <div class="p-2">
                                                        <button type="button" class="btn btn-success"
                                                                id="updateUtilities">Thêm tiện ích
                                                        </button>
                                                    </div>
                                                    <div class="p-2">
                                                        <button type="button" class="btn btn-primary"
                                                                id="cancelUtilities" style="display: none">Hủy
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="width: 30%">Giá
                                            phòng({{product.product.information.unit}})
                                        </th>
                                        <td scope="col">
                                            <input class="form-control"
                                                   value="{{product.product.information.price}}"
                                                   step="10000" type="number"
                                                   id="idPrice"
                                                   placeholder="Nhập giá ..." disabled>
                                            <div class="d-flex flex-row-reverse">
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-success" id="updatePrice">
                                                        Sửa
                                                    </button>
                                                </div>
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-primary"
                                                            id="cancelUpdatePrice">Hủy
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="width: 30%">Tiền
                                            cọc({{product.product.information.unit}}
                                            )
                                        </th>
                                        <td scope="col">
                                            <input class="form-control"
                                                   value="{{product.product.information.deposit}}"
                                                   step="10000" type="number"
                                                   id="idDeposit"
                                                   placeholder="Nhập giá ..." disabled>
                                            <div class="d-flex flex-row-reverse">
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-success"
                                                            id="updateDeposit">
                                                        Sửa
                                                    </button>
                                                </div>
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-primary"
                                                            id="cancelUpdateDeposit">Hủy
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="width: 30%">Tiền điện (Đơn
                                            vị:1 {{product.product.information.electricUnit}})
                                        </th>
                                        <td scope="col">

                                            <div class="row align-items-center">
                                                <input class="col-11 form-control"
                                                       value="{{product.product.information.electricBill}}"
                                                       step="10000" type="number"
                                                       id="idElectric"
                                                       placeholder="Nhập giá ..." disabled>
                                                <b class="col-1">{{product.product.information.unit}}</b>
                                            </div>
                                            <div class="d-flex flex-row-reverse">
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-success"
                                                            id="updateElectricBill">Sửa
                                                    </button>
                                                </div>
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-primary"
                                                            id="cancelUpdateElectricBill">Hủy
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="width: 30%">Tiền nước(Đơn
                                            vị: {{product.product.information.waterUnit}})
                                        </th>
                                        <td scope="col">
                                            <div class="row align-items-center">
                                                <input class="col-11 form-control"
                                                       value="{{product.product.information.waterBill}}"
                                                       step="10000" type="number"
                                                       id="idWater"
                                                       placeholder="Nhập giá ..." disabled>
                                                <b class="col-1">{{product.product.information.unit}}</b>

                                            </div>
                                            <div class="d-flex flex-row-reverse">
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-success"
                                                            id="updateWaterBill">Sửa
                                                    </button>
                                                </div>
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-primary"
                                                            id="cancelUpdateWaterBill">Hủy
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="col" style="width: 30%">Nội dung</th>
                                        <td scope="col">
                                        <textarea class="form-control" id="txtDescribe" rows="5"
                                                  disabled>{{product.product.information.describe}}</textarea>
                                            <div class="d-flex flex-row-reverse">
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-success"
                                                            id="updateDescribe">Sửa
                                                    </button>
                                                </div>
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-primary"
                                                            id="cancelUpdateDescribe">Hủy
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Ảnh phòng</th>
                            <td>
                                <table id="table-images" class="table table-borderless">
                                    <tbody>
                                    {{#each images}}
                                        <tr id='tr-{{this.id}}'>
                                            <td style="width: 80%">
                                                <img name="image-product"
                                                     id="image-{{this.id}}"
                                                     width="300px"
                                                     height="300px"
                                                     src="http://128.199.99.9:9090/{{this.path}}"
                                                     alt="{{this.path}}">
                                            </td>
                                            <td style="width: 20%">
                                                <button type="button" onclick="deleteImage('tr-{{this.id}}')"
                                                        class="btn btn-primary">Xóa ảnh
                                                </button>
                                            </td>
                                        </tr>
                                    {{/each}}
                                    <div style="display: none">
                                        <div style="margin-bottom: 10px" class="custom-file">

                                            <input type="file" class="custom-file-input" id="ipChangeImage"
                                                   onchange="readURL(this);" multiple style="display: none">
                                            <label id="ipChooseImage" class="btn btn-success fa fa-folder"
                                                   for="ipChangeImage"
                                                   data-browse="Thêm ảnh"> Thêm ảnh</label>
                                        </div>
                                    </div>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class='row justify-content-center'>
                    <div class="row mx-lg-n5">
                        <div class=" py-3 px-lg-5">
                            <button id="btn-confirm" type="button" class="btn btn-success">Xác nhận duyệt
                            </button>
                        </div>
                        <div class=" py-3 px-lg-5">
                            <button id="btn-cancel" type="button" class="btn btn-danger">Từ chối duyệt</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1"
                 aria-labelledby="titleDialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="titleDialog">Modal title</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div id="contentDialog" class="modal-body">
                            ...
                        </div>
                        <div class="modal-footer">
                            <button id="cancelDialog" type="button" class="btn btn-secondary" data-dismiss="modal">Close
                            </button>
                            <button id="successDialog" type="button" class="btn btn-primary">Understood</button>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer text-center"> 2020 © SmartFind Admin brought to you by <a
                    href="http://smartfind.me:9090/">Smartfind.me</a>
            </footer>
        </div>
    </div>

</div>
<!-- ============================================================== -->
<script src="public/interface/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="public/interface/plugins/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="public/interface/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="public/interface/js/app-style-switcher.js"></script>
<script src="public/interface/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<!--Wave Effects -->
<script src="public/interface/js/waves.js"></script>
<!--Menu sidebar -->
<script src="public/interface/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="public/interface/js/custom.js"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="public/interface/plugins/bower_components/chartist/dist/chartist.min.js"></script>
<script src="public/interface/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="public/interface/js/pages/dashboards/dashboard1.js"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    let titleStt = 'Thông báo';
    let content = '';
    let titleOK = '';
    let titleCancel = '';
    $(document).ready(function () {
        try {
            let user = '{{product.user._id}}';
            console.log('userId: ' + user)
            if (user._id === '') {
                content = 'Không thể thao tác với bài đăng này. Tài khoản đăng bài đã bị xóa!';
                titleOK = 'Trở lại';
                showDialog(titleStt, content, titleOK);
                $('#successDialog').click(function () {
                    location.href = 'index';
                });
            }
        } catch (e) {
            content = 'Không thể thao tác với bài đăng này. Tài khoản đăng bài đã bị xóa!';
            titleOK = 'Trở lại';
            showDialog(titleStt, content, titleOK);
            $('#successDialog').click(function () {
                location.href = 'index';
            });
        }

        let status = "{{product.status}}";
        console.log('status: ' + status);
        let date = "{{info.date}}";
        $('#date-success').val(date);
        if (status == '1') {
            $('#ipChooseImage').css("display", "none");
            $('button').css("display", "none");
            $('input[type=checkbox]').attr('disabled', 'true');
        }
        try {
            let utilitiesArray = [];
            let utilities = '{{product.product.utilities}}';
            let trainindIdArray = utilities.split(',');
            $.each(trainindIdArray, function (index, value) {
                utilitiesArray.push({id: index, utilities: value})
            });
            $('input[type=checkbox]').each(function () {
                for (let i = 0; i < utilitiesArray.length; i++) {
                    let thisVal = this.value.toUpperCase().trim();
                    let indexVal = utilitiesArray[i].utilities.toUpperCase().trim();
                    if (indexVal === thisVal) {
                        this.checked = true;
                    }
                }
            });
        } catch (e) {
            console.log('ERROR: load Utilities')
        }
    });
    //set data
    let address = "{{product.address.detailAddress}}, " + "{{product.address.communeWardTown}}, " + "{{product.product.districtsTowns}}, " + "{{product.address.provinceCity}}";
    $("#idAddress").val(address);
    let category = "{{product.product.category}}"
    $("#slType").val(category.toUpperCase());
    let amountPeople = "{{product.product.information.amountPeople}}"
    $("#idAmountPeople").val(amountPeople);
    let gender = "{{product.product.information.gender}}";
    $("#slGender").val(gender.toUpperCase());
    let price = "{{product.product.information.price}}";
    $("#idPrice").val(price);
    let deposit = "{{product.product.information.deposit}}";
    $("#idDeposit").val(deposit);
    let electricBill = "{{product.product.information.electricBill}}";
    $("#idElectric").val(electricBill);
    let waterBill = "{{product.product.information.waterBill}}";
    $("#idWater").val(waterBill);
    let describe = '{{product.product.information.describe}}';
    $("#txtDescribe").val(describe);

    //update address
    $('#updateAddress').click(function () {
        $("#idAddress").removeAttr('disabled');
    });
    $("#cancelUpdateAddress").click(function () {
        $("#idAddress").val(address);
        $("#idAddress").attr({
            'disabled': 'disabled'
        });
    });
    //update type
    $("#updateType").click(function () {
        $("#slType").removeAttr('disabled');
    });
    $("#cancelUpdateType").click(function () {
        $("#slType").val(category.toUpperCase());

        $("#slType").attr({
            'disabled': 'disabled'
        });
    });
    //update amountPeople
    $("#updateAmountPeople").click(function () {
        $("#idAmountPeople").removeAttr('disabled');
    });
    $("#cancelUpdateAmountPeople").click(function () {
        $("#idAmountPeople").val(amountPeople);

        $("#idAmountPeople").attr({
            'disabled': 'disabled'
        });
    });
    //update gender
    $("#updateGender").click(function () {
        $("#slGender").removeAttr('disabled');
    });
    $("#cancelUpdateGender").click(function () {
        $("#slGender").val(gender.toUpperCase());

        $("#slGender").attr({
            'disabled': 'disabled'
        });
    });
    //update utilities
    $('#updateUtilities').click(function () {
        var isDisabled = $('#idUtilities').prop('disabled');
        console.log('status: ' + isDisabled)
        if (isDisabled == false) {
            let count = $('#idDivUtilities input').length
            let text = $('#idUtilities').val();
            if (text == '') {
                alert('Cần nhập tiện ích để thêm!')
            } else
                $("#idDivUtilities")
                        .append($('<input>')
                                        .attr('id', "cb-" + count)
                                        .attr('class', 'form-check-input')
                                        .attr('type', 'checkbox')
                                        .attr('checked', 'checked'),
                                $('<label>')
                                        .attr('class', 'form-check-label')
                                        .attr('for', "cb-" + count)
                                        .text(text),
                                $('<br>')
                        );

            $("#idUtilities").attr('disabled', 'true')
                    .css("display", "none")
                    .val("");
            $("#cancelUtilities").css("display", "none");
        } else {
            $("#idUtilities").css("display", "block");
            $("#cancelUtilities").css("display", "block");
            $("#idUtilities").removeAttr('disabled');
        }

    });
    $("#cancelUtilities").click(function () {
        $("#idUtilities").attr({
            'disabled': 'disabled'
        });

        $("#idUtilities").css("display", "none");
        $("#cancelUtilities").css("display", "none");
    });
    //update price
    $("#updatePrice").click(function () {
        $("#idPrice").removeAttr('disabled');
    });
    $("#cancelUpdatePrice").click(function () {
        $("#idPrice").val(price);
        $("#idPrice").attr({
            'disabled': 'disabled'
        });
    });
    //update deposit
    $("#updateDeposit").click(function () {
        $("#idDeposit").removeAttr('disabled');
    });
    $("#cancelUpdateDeposit").click(function () {
        $("#idDeposit").val(deposit);
        $("#idDeposit").attr({
            'disabled': 'disabled'
        });
    });
    //update electricBill
    $("#updateElectricBill").click(function () {
        $("#idElectric").removeAttr('disabled');
    });
    $("#cancelUpdateElectricBill").click(function () {
        $("#idElectric").val(electricBill);
        $("#idElectric").attr({
            'disabled': 'disabled'
        });
    });
    //update waterBill
    $("#updateWaterBill").click(function () {
        $("#idWater").removeAttr('disabled');
    });
    $("#cancelUpdateWaterBill").click(function () {
        $("#idWater").val(waterBill);
        $("#idWater").attr({
            'disabled': 'disabled'
        });
    });
    //update describe
    $("#updateDescribe").click(function () {
        $("#txtDescribe").removeAttr('disabled');
    });
    $("#cancelUpdateDescribe").click(function () {
        $("#txtDescribe").val(describe);
        $("#txtDescribe").attr({
            'disabled': 'disabled'
        });
    });
    //confirm product
    $("#btn-confirm").click(function () {
        let dataUpdate = getDataUpdate();
        $.ajax({
            type: "POST",
            url: "/confirm-product",
            contentType: "application/json",
            data: JSON.stringify(dataUpdate),
            success: function (res) {
                if (!res || res.response_header.res_code != 200) {
                    content = 'Có lỗi sảy ra. Vui lòng thử lại sau!';
                    titleOK = 'Trở lại';
                    $('#successDialog').click(function () {
                        location.href = 'index';
                    });
                } else {
                    let status = res.response_body.status;
                    if (status == 'Success') {
                        content = 'Duyệt dữ liệụ thành công!';
                        titleOK = 'Trở lại';
                        $('#successDialog').click(function () {
                            location.href = 'postManage';
                        });
                    } else {
                        content = 'Duyệt dữ liệu thất bại. Vui lòng thử lại sau!';
                        titleOK = 'Thử lại';
                        $('#successDialog').click(function () {
                            location.href = 'postManage';
                        });
                    }
                }
                showDialog(titleStt, content, titleOK);
            }
        });
    });
    $("#btn-cancel").click(function () {
        console.log('btn-cancel')
        let status = "{{product.status}}";
        if (status == '-1') {
            cancelProduct('{{product._id}}', '5fb2073ff69b03b8f8875059', '0');
        } else {
            deleteProduct('{{product._id}}', '5fb2073ff69b03b8f8875059');
        }
    });


    //function
    function initImages(idTable, id, path, input) {
        let name = input.files[0].name;
        $("#" + idTable).find('tbody')
                .append($('<tr>')
                        .attr('id', id)
                        .append($('<td>')
                                        .attr('style', 'width: 80%')
                                        .append($('<img>')
                                                .attr('src', path)
                                                .attr('width', '250px')
                                                .attr('height', '250px')
                                                .attr('id', 'image-' + path)
                                                .attr('alt', name)
                                                .attr('name', 'image-product')
                                        ),
                                $('<td>')
                                        .attr('style', 'width: 20%')
                                        .append($('<button>')
                                                .attr('type', 'button')
                                                .attr('class', 'btn btn-primary')
                                                .text('Xóa ảnh')
                                                .on('click', function () {
                                                    deleteImage(id);
                                                })
                                        )
                        )
                );
    }

    function getExtension(filename) {
        let parts = filename.split('.');
        return parts[parts.length - 1];
    }

    function isImage(filename) {
        let ext = getExtension(filename);
        switch (ext.toLowerCase()) {
            case 'jpg':
            case 'gif':
            case 'bmp':
            case 'png':
                //etc
                return true;
        }
        return false;
    }

    function readURL(input) {
        if (input.files) {
            let len = input.files.length;
            for (let i = 0; i < len; i++) {
                let reader = new FileReader();
                if (isImage(input.files[i].name)) {
                    reader.onload = function (e) {
                        var rowCount = $('#table-images tr').length;
                        initImages('table-images', 'tr-' + rowCount, e.target.result, input)
                    };
                    reader.readAsDataURL(input.files[i]);
                } else {
                    alert('File không phải là ảnh!')
                }
            }
        }
    }

    function deleteImage(id) {
        console.log('del: ' + id);
        $("#" + id).remove();
    }

    function deleteProduct(id, userId) {

        let adminId = '{{adminId}}';
        let data = {
            id: id,
            adminId: adminId
        }
        console.log(data)
        $.ajax({
            type: "POST",
            url: "/delete-product",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (res) {
                console.log(res)
                if (!res || res.response_header.res_code != 200) {
                    content = 'Có lỗi sảy ra. Vui lòng thử lại sau!';
                    titleOK = 'Trở lại';
                    $('#successDialog').click(function () {
                        location.href = 'index';
                    });
                } else {
                    let status = res.response_body.status;
                    if (status == 'Success') {
                        $("#row-" + id).remove();
                        content = 'Xóa bài đăng thành công!';
                        titleOK = 'Trở lại';
                        $('#successDialog').click(function () {
                            location.href = 'postManage';
                        });
                    } else {
                        content = 'Xóa bài đăng thất bại. Vui lòng thử lại sau!';
                        titleOK = 'Thử lại';
                        $('#successDialog').click(function () {
                            location.href = 'index';
                        });
                    }
                }
                showDialog(titleStt, content, titleOK);
            }
        });
    }

    function cancelProduct(id, adminId, stt) {
        adminId = '5fd4d983c89b6cc9ccfc86f2';
        let data = {
            id: id,
            adminId: adminId,
            status: stt
        }
        console.log(data);
        $.ajax({
            type: "POST",
            url: "/cancel-product",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (res) {
                if (!res || res.response_header.res_code != 200) {
                    content = 'Có lỗi sảy ra. Vui lòng thử lại sau!';
                    titleOK = 'Trở lại';
                    $('#successDialog').click(function () {
                        location.href = 'index';
                    });
                } else {
                    let status = res.response_body.status;
                    if (status == 'Success') {
                        content = 'Từ chối duyệt dữ liệụ thành công!';
                        titleOK = 'Trở lại';
                        $('#successDialog').click(function () {
                            location.href = 'postManage';
                        });
                    } else {
                        content = 'Từ chối duyệt dữ liệu thất bại. Vui lòng thử lại sau!';
                        titleOK = 'Thử lại';
                        $('#successDialog').click(function () {
                            location.href = 'index';
                        });
                    }
                }
                showDialog(titleStt, content, titleOK);
            }
        });
    }

    function getArea(areaType, parentCode) {
        let dataBody = {areaType: areaType, parentCode: parentCode};
        let dataBodyBase64 = {dataBody: btoa(JSON.stringify(dataBody))};
        console.log(dataBodyBase64);
        $.ajax({
            type: "POST",
            url: "/area",
            contentType: "application/json",
            data: JSON.stringify(dataBodyBase64),
            success: function (res) {
                if (!res) {
                    alert('KHÔNG THỂ TẢI DỮ LIỆU CÁC ĐỊA CHỈ!');
                } else {
                    console.log('res.body: ' + res.body);
                    let body = atob(res.body);
                }
            }
        });
    }

    function getDataUpdate() {
        //lay thong tin duyet

        let adminId = '{{adminId}}';
        let timeConfirm = $('#date-success').val();
        //lay thong tin nguoi dang bai
        let userId = '{{product.user._id}}';
        let electricUnit = '{{product.product.information.electricUnit}}';
        let waterUnit = '{{product.product.information.waterUnit}}';
        let unit = '{{product.product.information.unit}}';
        //dia chi
        let address = $('#idAddress').val();
        //loai
        let type = $('select[name=type] option').filter(':selected').val();
        //songuoi
        let amountPeople = $('#idAmountPeople').val();
        //gioitinh
        let gender = $('select[name=gender] option').filter(':selected').val();
        //tienich
        let utilities = [];
        $('input[name=utilities]:checked').each(function () {
            utilities.push(this.value);
        });
        //giaphong
        let price = $('#idPrice').val();
        //tien coc
        let deposit = $('#idDeposit').val();
        //tien dien
        let electricPrice = $('#idElectric').val();
        //tien nuoc
        let waterPrice = $('#idWater').val();
        //noi dung
        let describe = $('#txtDescribe').val();
        //anh
        let image = [];
        $('img[name=image-product]').each(function () {
            let src = this.src;
            if (src.match("http://128.199.99.9:9090/")) {
                src = src.split("http://128.199.99.9:9090/");
            } else {
                console.log('update later!')
                // try {
                //     $.ajax({
                //         type: "POST",
                //         url: "/upload-photo-array",
                //         contentType: "application/json",
                //         data: "fd",
                //         contentType: false,
                //         processData: false,
                //         success: function (res) {
                //             if (!res) {
                //                 console.log('upload image fail')
                //             } else {
                //                 console.log('upload image success \n' + JSON.stringify(res));
                //             }
                //         }
                //     });
                // } catch (e) {
                //     console.log('loine: ' + e)
                // }
            }
            image.push(src[1]);
        });
        let information = {
            amountPeople: amountPeople,
            deposit: deposit,
            describe: describe,
            electricBill: electricPrice,
            gender: gender,
            price: price,
            waterBill: waterPrice,
            image: image,
            waterUnit: waterUnit,
            electricUnit: electricUnit,
            unit: unit,
        }
        let dataUpdate = {
            id: '{{product._id}}',
            adminId: adminId,
            utilities: utilities,
            category: type,
            information: information
        }
        return dataUpdate
    }

    function showDialog(title, content, titleOK) {
        $('#dialog').modal('show');
        $('#titleDialog').text(title);
        $('#contentDialog').text(content);
        $('#cancelDialog').css("display", "none");
        $('#successDialog').text(titleOK);
    }
</script>
</body>
</html>