<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý bài đăng</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>

<div>
    <div style="padding-left: 3%;padding-right: 3%">
        <div class="header">
            <div class="row">
                <div class="col">
                    <h1>Duyệt phòng trọ</h1>
                </div>
                <div class=" column border" style="padding: 2%">
                    <h6>Thời gian đăng bài: {{product.createAt}}</h6>
                    <h6>Tài khoản duyệt: {{info.admin}}</h6>
                </div>
            </div>
        </div>
        <div class="body">
            <h>Ngày khảo sát</h>
            <input id="date-success" type="date" style="margin-left: 4%">

            <h3>Thông tin người đăng</h3>
            <div class="column" style="margin-left: 4%">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 20%">Thông tin</th>
                        <th style="width: 80%">Chi tiết</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Họ và tên</th>
                        <td>{{product.user.full_name}}</td>
                    </tr>
                    <tr>
                        <th>Địa chỉ</th>
                        <td>{{product.user.address.detailAddress}}, {{product.user.address.communeWardTown}}
                            , {{product.user.address.districtsTowns}}, {{product.user.address.provinceCity}}</td>
                    </tr>
                    <tr>
                        <th>Điện thoại</th>
                        <td>{{product.user.phone_number}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <h3>Thông tin phòng</h3>
            <div class="column" style="margin-left: 4%">
                <table class="table  table-bordered">
                    <thead>
                    <tr>
                        <th style="width: 15%">Loại</th>
                        <th style="width: 70%">Chi tiết</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">Địa chỉ</th>
                        <td>
                            <input class="form-control"
                                   value="{{product.address.detailAddress}}, {{product.address.communeWardTown}}, {{product.address.districtsTowns}}, {{product.address.provinceCity}}"
                                   type="text" id="idAddress"
                                   placeholder="Nhập địa chỉ ..." disabled>
                            <div class="d-flex flex-row-reverse">
                                <div class="p-2">
                                    <button id="updateAddress" type="button" class="btn btn-success">Sửa
                                    </button>
                                </div>
                                <div class="p-2">
                                    <button id="cancelUpdateAddress" type="button" class="btn btn-primary">Hủy
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Thông tin phòng</th>
                        <td>
                            <table class="table table-borderless">
                                <tbody>
                                <tr>
                                    <th scope="col" style="width: 30%">Loại</th>
                                    <td scope="col">
                                        <select id="slType" class="form-control" disabled>
                                            <option value="Ở GHÉP">Ở ghép</option>
                                            <option value="CHUNG CƯ">Chung cư</option>
                                            <option value="NGUYÊN CĂN">Nguyên căn</option>
                                            <option value="NHÀ TRỌ">Nhà trọ</option>
                                        </select>
                                        <div class="d-flex flex-row-reverse">
                                            <div class="p-2">
                                                <button type="button" class="btn btn-success" id="updateType">
                                                    Sửa
                                                </button>
                                            </div>
                                            <div class="p-2">
                                                <button type="button" class="btn btn-primary"
                                                        id="cancelUpdateType">Hủy
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" style="width: 30%">Số người</th>
                                    <td scope="col">
                                        <input class="form-control" type="number"
                                               value="{{product.product.information.amountPeople}}" id="idAmountPeople"
                                               min="1"
                                               max="100" disabled>
                                        <div class="d-flex flex-row-reverse">
                                            <div class="p-2">
                                                <button type="button" class="btn btn-success"
                                                        id="updateAmountPeople">Sửa
                                                </button>
                                            </div>
                                            <div class="p-2">
                                                <button type="button" class="btn btn-primary"
                                                        id="cancelUpdateAmountPeople">Hủy
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" style="width: 30%">Giới tính</th>
                                    <td scope="col">
                                        <select id="slGender" class="form-control" disabled>
                                            <option value="NAM">Nam</option>
                                            <option value="NỮ">Nữ</option>
                                            <option value="TẤT CẢ">Tất cả</option>
                                        </select>
                                        <div class="d-flex flex-row-reverse">
                                            <div class="p-2">
                                                <button type="button" class="btn btn-success" id="updateGender">
                                                    Sửa
                                                </button>
                                            </div>
                                            <div class="p-2">
                                                <button type="button" class="btn btn-primary"
                                                        id="cancelUpdateGender">Hủy
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" style="width: 30%">Tiện ích</th>
                                    <td scope="col">
                                        <div id="idDivUtilities">
                                            {{#each utilities}}
                                                <input class="form-check-input" type="checkbox" value=""
                                                       id="cb-{{this.id}}" checked>
                                                <label class="form-check-label" for="cb-{{this.id}}">
                                                    {{this.utilities}}
                                                </label>
                                                <br>
                                            {{/each}}
                                        </div>
                                        <div style="margin-top: 10px">
                                            <input class="form-control" type="text" id="idUtilities"
                                                   placeholder="Nhập vào đây ..." disabled style="display: none">
                                            <div class="d-flex flex-row-reverse">
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-success"
                                                            id="updateUtilities">Thêm tiện ích
                                                    </button>
                                                </div>
                                                <div class="p-2">
                                                    <button type="button" class="btn btn-primary"
                                                            id="cancelUtilities" style="display: none">Hủy
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" style="width: 30%">Giá phòng({{product.product.information.unit}})
                                    </th>
                                    <td scope="col">
                                        <input class="form-control"
                                               value="{{product.product.information.price}}"
                                               step="10000" type="number"
                                               id="idPrice"
                                               placeholder="Nhập giá ..." disabled>
                                        <div class="d-flex flex-row-reverse">
                                            <div class="p-2">
                                                <button type="button" class="btn btn-success" id="updatePrice">
                                                    Sửa
                                                </button>
                                            </div>
                                            <div class="p-2">
                                                <button type="button" class="btn btn-primary"
                                                        id="cancelUpdatePrice">Hủy
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" style="width: 30%">Tiền cọc({{product.product.information.unit}})
                                    </th>
                                    <td scope="col">
                                        <input class="form-control"
                                               value="{{product.product.information.deposit}}"
                                               step="10000" type="number"
                                               id="idDeposit"
                                               placeholder="Nhập giá ..." disabled>
                                        <div class="d-flex flex-row-reverse">
                                            <div class="p-2">
                                                <button type="button" class="btn btn-success" id="updateDeposit">
                                                    Sửa
                                                </button>
                                            </div>
                                            <div class="p-2">
                                                <button type="button" class="btn btn-primary"
                                                        id="cancelUpdateDeposit">Hủy
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" style="width: 30%">Tiền điện (Đơn
                                        vị:1 {{product.product.information.electricUnit}})
                                    </th>
                                    <td scope="col">

                                        <div class="row align-items-center">
                                            <input class="col-11 form-control"
                                                   value="{{product.product.information.electricBill}}"
                                                   step="10000" type="number"
                                                   id="idElectric"
                                                   placeholder="Nhập giá ..." disabled>
                                            <b class="col-1">{{product.product.information.unit}}</b>
                                        </div>
                                        <div class="d-flex flex-row-reverse">
                                            <div class="p-2">
                                                <button type="button" class="btn btn-success"
                                                        id="updateElectricBill">Sửa
                                                </button>
                                            </div>
                                            <div class="p-2">
                                                <button type="button" class="btn btn-primary"
                                                        id="cancelUpdateElectricBill">Hủy
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" style="width: 30%">Tiền nước(Đơn
                                        vị: {{product.product.information.waterUnit}})
                                    </th>
                                    <td scope="col">
                                        <div class="row align-items-center">
                                            <input class="col-11 form-control"
                                                   value="{{product.product.information.waterBill}}"
                                                   step="10000" type="number"
                                                   id="idWater"
                                                   placeholder="Nhập giá ..." disabled>
                                            <b class="col-1">{{product.product.information.unit}}</b>

                                        </div>
                                        <div class="d-flex flex-row-reverse">
                                            <div class="p-2">
                                                <button type="button" class="btn btn-success"
                                                        id="updateWaterBill">Sửa
                                                </button>
                                            </div>
                                            <div class="p-2">
                                                <button type="button" class="btn btn-primary"
                                                        id="cancelUpdateWaterBill">Hủy
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="col" style="width: 30%">Nội dung</th>
                                    <td scope="col">
                                        <textarea class="form-control" id="txtDescribe" rows="5"
                                                  disabled>{{product.product.information.describe}}</textarea>
                                        <div class="d-flex flex-row-reverse">
                                            <div class="p-2">
                                                <button type="button" class="btn btn-success"
                                                        id="updateDescribe">Sửa
                                                </button>
                                            </div>
                                            <div class="p-2">
                                                <button type="button" class="btn btn-primary"
                                                        id="cancelUpdateDescribe">Hủy
                                                </button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">Ảnh phòng</th>
                        <td>
                            <table id="table-images" class="table table-borderless">
                                <tbody>
                                {{#each images}}
                                    <tr id='tr-{{this.id}}'>
                                        <td style="width: 80%">
                                            <img id="image-{{this.id}}" width="250px" height="250px"
                                                 src="http://128.199.99.9:9090/{{this.path}}" alt="{{this.path}}">
                                        </td>
                                        <td style="width: 20%">
                                            <button type="button" onclick="deleteImage('tr-{{this.id}}')"
                                                    class="btn btn-primary">Xóa ảnh
                                            </button>
                                        </td>
                                    </tr>
                                {{/each}}
                                <div>
                                    <!--                                    <form action="http://128.199.99.9:9090/upload-photo-array" method="post"-->
                                    <!--                                          enctype="multipart/form-data">-->
                                    <!--                                        <input onchange="readURL(this);" type="file" name="photo" id="ipChangeImage"-->
                                    <!--                                               multiple="multiple">-->
                                    <!--                                        <input type="submit" value="Thêm ảnh" class="btn btn-primary">-->
                                    <!--                                    </form>-->

                                    <div style="margin-bottom: 10px" class="custom-file">

                                        <input type="file" class="custom-file-input" id="ipChangeImage"
                                               onchange="readURL(this);" multiple style="display: none">
                                        <label id="ipChooseImage" class="btn btn-success fa fa-folder"
                                               for="ipChangeImage"
                                               data-browse="Thêm ảnh"> Thêm ảnh</label>
                                    </div>
                                </div>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="footer">
            <div class='row justify-content-center'>
                <div class="row mx-lg-n5">
                    <div class=" py-3 px-lg-5  bg-light">
                        <button id="btn-confirm" type="button" class="btn btn-success">Xác nhận duyệt</button>
                    </div>
                    <div class=" py-3 px-lg-5  bg-light">
                        <button id="btn-cancel" type="button" class="btn btn-danger">Từ chối duyệt</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        let status = "{{product.status}}";
        console.log('status: ' + status);
        let date = "{{info.date}}";
        $('#date-success').val(date);
        if (status == '1') {
            $('#ipChooseImage').css("display", "none");
            $('button').css("display", "none");
            $('input[type=checkbox]').attr('disabled', 'true');
        }
    });

    //function
    function initImages(idTable, id, path, name) {
        console.log('idTable: ' + idTable)
        console.log('id: ' + id)
        console.log('path: ' + path)

        $("#" + idTable).find('tbody')
                .append($('<tr>')
                        .attr('id', id)
                        .append($('<td>')
                                        .attr('style', 'width: 80%')
                                        .append($('<img>')
                                                .attr('src', path)
                                                .attr('width', '250px')
                                                .attr('height', '250px')
                                                .attr('id', 'image-' + path)
                                                .attr('alt', name)
                                        ),
                                $('<td>')
                                        .attr('style', 'width: 20%')
                                        .append($('<button>')
                                                .attr('type', 'button')
                                                .attr('class', 'btn btn-primary')
                                                .text('Xóa ảnh')
                                                .on('click', function () {
                                                    deleteImage(id)
                                                })
                                        )
                        )
                );
    }

    function getExtension(filename) {
        let parts = filename.split('.');
        return parts[parts.length - 1];
    }

    function isImage(filename) {
        let ext = getExtension(filename);
        switch (ext.toLowerCase()) {
            case 'jpg':
            case 'gif':
            case 'bmp':
            case 'png':
                //etc
                return true;
        }
        return false;
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            if (isImage(input.files[0].name)) {
                reader.onload = function (e) {
                    var rowCount = $('#table-images tr').length;
                    initImages('table-images', 'tr-' + rowCount, e.target.result, input.files[0].name)

                };
                reader.readAsDataURL(input.files[0]);
            } else {
                alert('File không phải là ảnh!')
            }
        }
    }

    function deleteImage(id) {
        console.log('del: ' + id)
        $("#" + id).remove();
    }

    //set data
    let address = "{{product.user.address.detailAddress}}, " + "{{product.user.address.communeWardTown}}, " + "{{product.user.address.districtsTowns}}, " + "{{product.user.address.provinceCity}}";
    $("#idAddress").val(address);
    let category = "{{product.product.category}}"
    $("#slType").val(category.toUpperCase());
    let amountPeople = "{{product.product.information.amountPeople}}"
    $("#idAmountPeople").val(amountPeople);
    let gender = "{{product.product.information.gender}}";
    $("#slGender").val(gender.toUpperCase());
    let price = "{{product.product.information.price}}";
    $("#idPrice").val(price);
    let deposit = "{{product.product.information.deposit}}";
    $("#idDeposit").val(deposit);
    let electricBill = "{{product.product.information.electricBill}}";
    $("#idElectric").val(electricBill);
    let waterBill = "{{product.product.information.waterBill}}";
    $("#idWater").val(waterBill);
    let describe = '{{product.product.information.describe}}';
    $("#txtDescribe").val(describe);

    //update address
    $('#updateAddress').click(function () {
        $("#idAddress").removeAttr('disabled');
    });
    $("#cancelUpdateAddress").click(function () {
        $("#idAddress").val(address);
        $("#idAddress").attr({
            'disabled': 'disabled'
        });
    });
    //update type
    $("#updateType").click(function () {
        $("#slType").removeAttr('disabled');
    });
    $("#cancelUpdateType").click(function () {
        $("#slType").val(category.toUpperCase());

        $("#slType").attr({
            'disabled': 'disabled'
        });
    });
    //update amountPeople
    $("#updateAmountPeople").click(function () {
        $("#idAmountPeople").removeAttr('disabled');
    });
    $("#cancelUpdateAmountPeople").click(function () {
        $("#idAmountPeople").val(amountPeople);

        $("#idAmountPeople").attr({
            'disabled': 'disabled'
        });
    });
    //update gender
    $("#updateGender").click(function () {
        $("#slGender").removeAttr('disabled');
    });
    $("#cancelUpdateGender").click(function () {
        $("#slGender").val(gender.toUpperCase());

        $("#slGender").attr({
            'disabled': 'disabled'
        });
    });
    //update utilities
    $('#updateUtilities').click(function () {
        var isDisabled = $('#idUtilities').prop('disabled');
        console.log('status: ' + isDisabled)
        if (isDisabled == false) {
            let count = $('#idDivUtilities input').length
            let text = $('#idUtilities').val();
            if (text == '') {
                alert('Cần nhập tiện ích để thêm!')
            } else
                $("#idDivUtilities")
                        .append($('<input>')
                                        .attr('id', "cb-" + count)
                                        .attr('class', 'form-check-input')
                                        .attr('type', 'checkbox')
                                        .attr('checked', 'checked'),
                                $('<label>')
                                        .attr('class', 'form-check-label')
                                        .attr('for', "cb-" + count)
                                        .text(text),
                                $('<br>')
                        );
        } else {
            $("#idUtilities").css("display", "block");
            $("#cancelUtilities").css("display", "block");
            $("#idUtilities").removeAttr('disabled');
        }

    });
    $("#cancelUtilities").click(function () {
        $("#idUtilities").attr({
            'disabled': 'disabled'
        });

        $("#idUtilities").css("display", "none");
        $("#cancelUtilities").css("display", "none");
    });
    //update price
    $("#updatePrice").click(function () {
        $("#idPrice").removeAttr('disabled');
    });
    $("#cancelUpdatePrice").click(function () {
        $("#idPrice").val(price);
        $("#idPrice").attr({
            'disabled': 'disabled'
        });
    });
    //update deposit
    $("#updateDeposit").click(function () {
        $("#idDeposit").removeAttr('disabled');
    });
    $("#cancelUpdateDeposit").click(function () {
        $("#idDeposit").val(deposit);
        $("#idDeposit").attr({
            'disabled': 'disabled'
        });
    });
    //update electricBill
    $("#updateElectricBill").click(function () {
        $("#idElectric").removeAttr('disabled');
    });
    $("#cancelUpdateElectricBill").click(function () {
        $("#idElectric").val(electricBill);
        $("#idElectric").attr({
            'disabled': 'disabled'
        });
    });
    //update waterBill
    $("#updateWaterBill").click(function () {
        $("#idWater").removeAttr('disabled');
    });
    $("#cancelUpdateWaterBill").click(function () {
        $("#idWater").val(waterBill);
        $("#idWater").attr({
            'disabled': 'disabled'
        });
    });
    //update describe
    $("#updateDescribe").click(function () {
        $("#txtDescribe").removeAttr('disabled');
    });
    $("#cancelUpdateDescribe").click(function () {
        $("#txtDescribe").val(describe);
        $("#txtDescribe").attr({
            'disabled': 'disabled'
        });
    });
    $("#btn-confirm").click(function () {
        alert('SUCCESS');
    });
    $("#btn-cancel").click(function () {
        console.log('btn-cancel')
        let status = "{{product.status}}";
        if (status == '-1') {
            cancelProduct('{{product._id}}', '5fb2073ff69b03b8f8875059', '0');
        } else {
            deleteProduct('{{product._id}}', '5fb2073ff69b03b8f8875059');
        }
    });

    function deleteProduct(id, userId) {
        let data = {
            id: id,
            userId: userId
        }
        console.log(data)
        $.ajax({
            type: "POST",
            url: "/delete-product",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (data) {
                alert('del ok: ' + JSON.stringify(data));
            }
        });
    }

    function cancelProduct(id, userId, stt) {
        let data = {
            id: id,
            userId: userId,
            status: stt
        }
        console.log(data)
        $.ajax({
            type: "POST",
            url: "/cancel-product",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (data) {
                alert('cancel ok: ' + JSON.stringify(data));
            }
        });
    }
    function updateProduct(id, userId, stt) {
        let data = {
            id: id,
            userId: userId,
            status: stt
        }
        console.log(data)
        $.ajax({
            type: "POST",
            url: "/cancel-product",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (data) {
                alert('cancel ok: ' + JSON.stringify(data));
            }
        });
    }
</script>
</body>
</html>