<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, Ample lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Ample admin lite dashboard bootstrap 4 dashboard template">
    <meta name="description"
          content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>{{title}}</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/"/>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png"
          href="http://128.199.99.9:9090/public/uploads/3fa2359d05f69391d42cea22e54ef1e2.png"/>
    <!-- Custom CSS -->
    <link href="public/interface/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="public/interface/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <!-- Custom CSS -->
    <link href="public/interface/css/style.min.css" rel="stylesheet">
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin6">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" href="index">
                    <span class="span-title-e">SmartFindPro</span>
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                   href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav d-none d-md-block d-lg-none">
                    <li class="nav-item">
                        <a class="nav-toggler nav-link waves-effect waves-light text-white"
                           href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav ml-auto d-flex align-items-center">

                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
                    <li class=" in">
                        <form role="search" class="app-search d-none d-md-block mr-3">
                            <input type="text" placeholder="Tìm kiếm..." class="form-control mt-0">
                            <a href="" class="active">
                                <i class="fa fa-search"></i>
                            </a>
                        </form>
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <li>
                        <a class="profile-pic" href="#">
                            <span class="text-white font-medium">{{user}}</span></a>
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <!-- User Profile-->
                    <li class="sidebar-item pt-2">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index"
                           aria-expanded="false">
                            <i class="far fa-clock" aria-hidden="true"></i>
                            <span class="hide-menu">Thống kê</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="userManage"
                           aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="hide-menu">Quản lý Tài khoản</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="postManage"
                           aria-expanded="false">
                            <i class="fas fa-folder-open" aria-hidden="true"></i>
                            <span class="hide-menu">Quản lý Bài viết</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="createAdAc"
                           aria-expanded="false">
                            <i class="fas fa-id-card-alt" aria-hidden="true"></i>
                            <span class="hide-menu">Quản lý Nhân viên</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="history"
                           aria-expanded="false">
                            <i class="fas fa-history" aria-hidden="true"></i>
                            <span class="hide-menu">Lịch sử Hoạt động</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="reportProduct"
                           aria-expanded="false">
                            <i class="fas fa-comment-slash" aria-hidden="true"></i>
                            <span class="hide-menu">Báo cáo</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="confirmUser"
                           aria-expanded="false">
                            <i class=" fas fa-arrow-circle-up" aria-hidden="true"></i>
                            <span class="hide-menu">Nâng cấp Tài khoản</span>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->

    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div style="display: {{status}}" class="alert alert-warning alert-dismissible fade show"
                         role="alert">
                        {{textAlert}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form class="container col-8" id="formAdd" style="display: none">
                        <div class="form-group">
                            <label for="InputUsername">Tại khoản</label>
                            <input type="text" name="nUser" class="form-control" id="InputUsername" required
                                   placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="InputPassword">Mật khẩu</label>
                            <input type="password" name="nPass" class="form-control" id="InputPassword" required
                                   placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="InputName">Tên nhân viên</label>
                            <input type="text" name="nName" class="form-control" id="InputName" required
                                   placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="InputPhone">Số điện thoại</label>
                            <input type="text" name="nPhone" class="form-control" id="InputPhone" required
                                   placeholder="">
                        </div>

                        <div class="form-group">
                            <label for="InputAddress">Địa chỉ</label>
                            <input type="text" name="nAddress" class="form-control" id="InputAddress" required
                                   placeholder="">
                        </div>
                        <!--            <div id="ConfirmPassword" class="form-group">-->
                        <!--                <label for="InputConfirmPassword">Confirm Password</label>-->
                        <!--                <input type="password" name="cfPass" class="form-control" id="InputConfirmPassword" required-->
                        <!--                       placeholder="Enter your password">-->
                        <!--                <span id='message'></span>-->
                        <!--            </div>-->
                        <br>
                        <div class="row justify-content-center">
                            <div class="col-4">
                                <button type="submit" name="sm" value="1" class="btn btn-outline-dark col-sm-12 ">Tạo
                                    mới
                                </button>
                            </div>
                            <div class="col-4">
                                <button type="reset" name="cancel" id="c" class="btn btn-outline-dark col-sm-12 "
                                        onclick="closeF()">
                                    Hủy tạo
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="col-3">
                        <button type="button" id="btnO" class="btn btn-outline-dark col-sm-12"
                                onclick="myFunction()">Thêm tài khoản Nhân viên
                        </button>
                        <script>
                            function myFunction() {
                                var x = document.getElementById("formAdd");
                                var btnO = document.getElementById("btnO");
                                var sm = document.getElementById("sm");
                                if (x.style.display === "none") {
                                    x.style.display = "block";
                                    btnO.style.display = "none";
                                    sm.innerText = "Tạo mới";
                                } else {
                                    x.style.display = "none";
                                    sm.innerText = "Sign in";
                                }

                            }

                            function closeF() {
                                var x = document.getElementById("formAdd");
                                var btnO = document.getElementById("btnO");
                                btnO.style.display = "block";
                                x.style.display = "none";
                            }
                        </script>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12">
                <div class="white-box">
                    <div class="d-md-flex mb-3">
                        <h3 class="box-title mb-0">Danh Nhân viên</h3>
                        <div class="col-md-3 col-sm-4 col-xs-6 ml-auto">
                            <i class="fa fa-user"></i>
                            <span class="counter text-info"
                                  style="font-size: 1.875em;">{{data.lengthOfUserLV0}}</span>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table ">
                            <thead>
                            <tr>
                                <th scope="col">_id</th>
                                <th scope="col">Tài khoản</th>
                                <th scope="col">Mật khẩu</th>
                                <th scope="col">Tên</th>
                                <th scope="col">Số điện thoại</th>
                                <th scope="col">Thao tác</th>
                            </tr>
                            </thead>
                            <tbody>
                            {{#each data}}
                                <tr>
                                    <th scope="row">{{this._id}}</th>
                                    <td name="user">{{this.username}}</td>
                                    <td>{{this.password}}</td>
                                    <td>{{this.name}}</td>
                                    <td>{{this.phone}}</td>
                                    <td>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <form action="/updateAdAc" method="get">
                                                    <div class="form-group" style="display: none">
                                                        <input type="text" name="idAD" value="{{this._id}}"
                                                               class="form-control">
                                                        <input type="text" name="userAD" value="{{this.username}}"
                                                               class="form-control">
                                                        <input type="text" name="passAD" value="{{this.password}}"
                                                               class="form-control">
                                                        <input type="text" name="nameAD" value="{{this.name}}"
                                                               class="form-control">
                                                        <input type="text" name="phoneAD" value="{{this.phone}}"
                                                               class="form-control">
                                                        <input type="text" name="addressAD" value="{{this.address}}"
                                                               class="form-control">
                                                    </div>

                                                    <button type="submit" name="update" value="1"
                                                            class="btn btn-warning">
                                                        Sửa
                                                    </button>

                                                </form>
                                            </div>
                                            <div class="col-sm-5">
                                                <form>
                                                    <div class="form-group" style="display: none">
                                                        <input type="text" name="idAD" value="{{this._id}}"
                                                               class="form-control">
                                                    </div>
                                                    <button type="submit" name="del" value="1" class="btn btn-danger">
                                                        Xóa
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {{/each}}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // $('#InputPassword, #InputConfirmPassword').on('keyup', function () {
    //     if ($('#InputPassword').val() == $('#InputConfirmPassword').val()) {
    //         $('#message').html('Matching').css('color', 'green');
    //     } else
    //         $('#message').html('Not Matching').css('color', 'red');
    // });
</script>
<!-- ============================================================== -->
<script src="public/interface/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="public/interface/plugins/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="public/interface/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="public/interface/js/app-style-switcher.js"></script>
<script src="public/interface/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<!--Wave Effects -->
<script src="public/interface/js/waves.js"></script>
<!--Menu sidebar -->
<script src="public/interface/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="public/interface/js/custom.js"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="public/interface/plugins/bower_components/chartist/dist/chartist.min.js"></script>
<script src="public/interface/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="public/interface/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>