<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, Ample lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Ample admin lite dashboard bootstrap 4 dashboard template">
    <meta name="description"
          content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Thống kê ứng dụng</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/"/>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png"
          href="http://128.199.99.9:9090/public/uploads/3fa2359d05f69391d42cea22e54ef1e2.png"/>
    <!-- Custom CSS -->
    <link href="public/interface/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="public/interface/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <!-- Custom CSS -->
    <link href="public/interface/css/style.min.css" rel="stylesheet">
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin6">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" href="index">
                    <span class="span-title-e">SmartFindPro</span>
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                   href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav d-none d-md-block d-lg-none">
                    <li class="nav-item">
                        <a class="nav-toggler nav-link waves-effect waves-light text-white"
                           href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav ml-auto d-flex align-items-center">

                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
                    <!--                    <li class=" in">-->
                    <!--                        <form role="search" class="app-search d-none d-md-block mr-3">-->
                    <!--                            <input type="text" placeholder="Tìm kiếm..." class="form-control mt-0">-->
                    <!--                            <a href="" class="active">-->
                    <!--                                <i class="fa fa-search"></i>-->
                    <!--                            </a>-->
                    <!--                        </form>-->
                    <!--                    </li>-->
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <li>
                        <a class="profile-pic" href="#">
                            <span class="text-white font-medium">{{user}}</span></a>
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <!-- User Profile-->
                    <li class="sidebar-item pt-2">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index"
                           aria-expanded="false">
                            <i class="far fa-clock" aria-hidden="true"></i>
                            <span class="hide-menu">Thống kê</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="userManage"
                           aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="hide-menu">Quản lý Tài khoản</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="postManage"
                           aria-expanded="false">
                            <i class="fas fa-folder-open" aria-hidden="true"></i>
                            <span class="hide-menu">Quản lý Bài viết</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="createAdAc"
                           aria-expanded="false">
                            <i class="fas fa-id-card-alt" aria-hidden="true"></i>
                            <span class="hide-menu">Quản lý Nhân viên</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="history"
                           aria-expanded="false">
                            <i class="fas fa-history" aria-hidden="true"></i>
                            <span class="hide-menu">Lịch sử Hoạt động</span>
                        </a>
                    </li>
                    <!--                    <li class="sidebar-item">-->
                    <!--                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="reportProduct"-->
                    <!--                           aria-expanded="false">-->
                    <!--                            <i class="fas fa-comment-slash" aria-hidden="true"></i>-->
                    <!--                            <span class="hide-menu">Báo cáo</span>-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="confirmUser"
                           aria-expanded="false">
                            <i class=" fas fa-arrow-circle-up" aria-hidden="true"></i>
                            <span class="hide-menu">Nâng cấp Tài khoản</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="/"
                           aria-expanded="false">
                            <i class="fas fa-sign-out-alt" aria-hidden="true"></i>
                            <span class="hide-menu">Đăng xuất</span>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <div class="container-fluid">
            <!-- ============================================================== -->
            <!-- Three charts -->
            <!-- ============================================================== -->
            <div class="row justify-content-center">
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Số bình luận</h3>
                        <ul class="list-inline two-part d-flex align-items-center mb-0">
                            <li>
                                <i class="fas fa-comments"></i>
                            </li>
                            <li class="ml-auto">
                                <span class="counter text-info">{{dataComment}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Số lượng chia sẻ</h3>
                        <ul class="list-inline two-part d-flex align-items-center mb-0">
                            <li>
                                <i class="fas fa-share-alt-square"></i>
                            </li>
                            <li class="ml-auto">
                                <span class="counter text-info">{{dataShare}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Số lượt tải</h3>
                        <ul class="list-inline two-part d-flex align-items-center mb-0">
                            <li>
                                <i class="fas fa-download"></i>
                            </li>
                            <li class="ml-auto">
                                <span class="counter text-info">{{dataDownload}}</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Người đã tìm được trọ</h3>
                        <ul class="list-inline two-part d-flex align-items-center mb-0">
                            <li>
                                <i class="fas fa-check"></i>
                            </li>
                            <li class="ml-auto">
                                <span class="counter text-info">{{dataFindSuccess}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Số phòng đã cho thuê</h3>
                        <ul class="list-inline two-part d-flex align-items-center mb-0">
                            <li>
                                <i class=" fas fa-handshake"></i>
                            </li>
                            <li class="ml-auto">
                                <span class="counter text-info">{{dataLease}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Số phòng chưa cho thuê</h3>
                        <ul class="list-inline two-part d-flex align-items-center mb-0">
                            <li>
                                <i class=" fas fa-hourglass-start"></i>
                            </li>
                            <li class="ml-auto">
                                <span class="counter text-info">{{dataNotLease}}</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Bài viết</h3>
                        <ul class="list-inline two-part d-flex align-items-center mb-0">
                            <li>
                                <i class="fas fa-folder-open"></i>
                            </li>
                            <li class="ml-auto">
                                <span class="counter text-success">{{dataProduct.lengthOfAllPost}}</span>
                            </li>
                        </ul>
                        <p>
                            <button style="margin-top: 10px;"
                                    class="btn btn-outline-success" type="button" data-toggle="collapse"
                                    data-target="#collapsePost" aria-expanded="false"
                                    aria-controls="collapsePost">
                                More
                            </button>
                        </p>
                        <div style="padding: 8px;" class="collapse" id="collapsePost">
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <span class="counter text-success text-title">Số bài chưa duyệt</span>
                                    <br><span class="counter text-success">Số bài đang duyệt</span>
                                    <br><span class="counter text-success">	Số bài đã duyệt</span>
                                </li>
                                <li class="ml-auto">
                                    <span
                                            class="counter text-success">{{dataProduct.lengthOfUnapprovedPost }}</span>
                                    <br><span
                                        class="counter text-success">{{dataProduct.lengthOfProcessingPost }}</span>
                                    <br><span class="counter text-success">{{dataProduct.lengthOfSuccessPost }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Người dùng</h3>
                        <ul class="list-inline two-part d-flex align-items-center mb-0">
                            <li>
                                <i class="fa fa-user"></i>
                            </li>
                            <li class="ml-auto">
                                <span class="counter text-purple">{{dataUser.allUsers}}</span>
                            </li>
                        </ul>
                        <p>
                            <button style="margin-top: 10px;"
                                    class="btn btn-outline-primary" type="button" data-toggle="collapse"
                                    data-target="#collapseUser" aria-expanded="false"
                                    aria-controls="collapseUser">
                                More
                            </button>
                        </p>
                        <div style="padding: 8px;" class="collapse" id="collapseUser">
                            <ul class="list-inline two-part d-flex align-items-center mb-0">
                                <li>
                                    <span class="counter text-purple">Tài khoản khách</span>
                                    <br><span class="counter text-purple">Tài khoản cấp 1</span>
                                    <br><span class="counter text-purple">Tài khoản cấp 2</span>
                                    <br><span class="counter text-purple">Tài khoản cấp 3</span>
                                </li>
                                <li class="ml-auto">
                                    <span class="counter text-purple">{{dataUser.userLV0}}</span>
                                    <br><span class="counter text-purple">{{dataUser.userLV1}}</span>
                                    <br><span class="counter text-purple">{{dataUser.userLV2}}</span>
                                    <br><span class="counter text-purple">{{dataUser.userLV3}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 col-xs-12">
                    <div class="white-box analytics-info">
                        <h3 class="box-title">Nhân viên</h3>
                        <ul class="list-inline two-part d-flex align-items-center mb-0">
                            <li>
                                <i class="fas fa-id-card-alt"></i>
                            </li>
                            <li class="ml-auto">
                                <span class="counter text-info">{{dataAdmin}}</span>
                            </li>
                        </ul>
                        <br>
                        <br>
                        <br>
                    </div>
                </div>

            </div>

            <!-- table -->
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div class="d-md-flex mb-3">
                            <h3 class="box-title mb-0">Top đăng bài nhiều nhất</h3>
                            <div class="col-md-3 col-sm-4 col-xs-6 ml-auto">
                                <!--                                <select class="form-control row border-top">-->
                                <!--                                    <option>March 2017</option>-->
                                <!--                                    <option>April 2017</option>-->
                                <!--                                    <option>May 2017</option>-->
                                <!--                                    <option>June 2017</option>-->
                                <!--                                    <option>July 2017</option>-->
                                <!--                                </select>-->
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table no-wrap">
                                <thead>
                                <tr>
                                    <th class="border-top-0">TOP</th>
                                    <th class="border-top-0">ẢNH ĐẠI DIỆN</th>
                                    <th class="border-top-0">HỌ VÀ TÊN</th>
                                    <th class="border-top-0">SỐ BÀI ĐĂNG</th>
                                    <th class="border-top-0"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each listUserPost}}
                                    <tr>
                                        <td>{{this.id}}</td>
                                        <td>
                                            <img name="image-user"
                                                 id="image-{{this.id}}"
                                                 width="70px"
                                                 height="70px"
                                                 src="http://128.199.99.9:9090/{{this.user.avatar}}"
                                                 alt="{{this.user.avatar}}">
                                        </td>
                                        <td class="txt-oflo">{{this.user.full_name}}</td>
                                        <td>{{this.count}}</td>
                                        </span></td>
                                        <td>
                                            <button type="button" class="btn btn-primary"
                                                    onclick="showDialogUserDetail('http://128.199.99.9:9090/{{this.user.avatar}}',
                                                            '{{this.user._id}}',
                                                            '{{this.user.full_name}}',
                                                            '{{this.user.birth}}',
                                                            '{{this.user.gender}}',
                                                            '{{this.user.phone_number}}',
                                                            '{{this.user.address.detailAddress}}, {{this.user.address.communeWardTown}}, {{this.user.address.districtsTowns}}, {{this.user.address.provinceCity}}')">
                                                Chi tiết
                                            </button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div class="d-md-flex mb-3">
                            <h3 class="box-title mb-0">Top bài đăng được quan tâm nhất</h3>
                            <div class="col-md-3 col-sm-4 col-xs-6 ml-auto">
                                <!--                                <select class="form-control row border-top">-->
                                <!--                                    <option>March 2017</option>-->
                                <!--                                    <option>April 2017</option>-->
                                <!--                                    <option>May 2017</option>-->
                                <!--                                    <option>June 2017</option>-->
                                <!--                                    <option>July 2017</option>-->
                                <!--                                </select>-->
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table no-wrap">
                                <thead>
                                <tr>
                                    <th class="border-top-0">TOP</th>
                                    <th class="border-top-0">ẢNH BÀI VIẾT</th>
                                    <th class="border-top-0">NGƯỜI ĐĂNG</th>
                                    <th class="border-top-0">LƯỢT YÊU THÍCH</th>
                                    <th class="border-top-0"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each listAmoutFavorite}}
                                    <tr>
                                        <td>{{this.id}}</td>
                                        <td>
                                            {{#with this.product.product.information.image.[1]}}
                                                <img name="image-user"
                                                     width="70px"
                                                     height="70px"
                                                     src="http://128.199.99.9:9090/{{this}}"
                                                     alt="{{this}}">
                                            {{/with}}
                                        </td>
                                        <td class="txt-oflo">
                                            <img width="20px"
                                                 height="20px"
                                                 src="http://128.199.99.9:9090/{{this.product.user.avatar}}"
                                                 alt="{{this.product.user.avatar}}">
                                            {{this.product.user.full_name}}</td>
                                        <td>{{this.count}}</td>
                                        <td>
                                            <button type="button" class="btn btn-primary"
                                                    onclick="showDialogPostDetail('http://128.199.99.9:9090/{{this.product.product.information.image.[1]}}',
                                                            '{{this.product._id}}',
                                                            '{{this.product.user._id}}',
                                                            '{{this.product.address.detailAddress}}, {{this.product.address.communeWardTown}}, {{this.product.address.districtsTowns}}, {{this.product.address.provinceCity}}')">
                                                Chi tiết
                                            </button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- modal -->
            <div class="modal fade" id="dialog-user" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thông tin</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" id="listImages">
                                    <div class="carousel-item active align-content-lg-center"
                                         style="height: 400px;align-content: center;"
                                         name="containerImage">
                                        <img id="avatarUser"
                                             width="250px"
                                             height="400px"
                                             class="d-block w-100" name="images"
                                             src="http://128.199.99.9:9090/public/uploads/3fa2359d05f6939in1d42cea22e54ef1e2.png">
                                    </div>
                                </div>

                                <div style="margin-top: 12px;" class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="t-userId"
                                          style="width: 150px;">id</span>
                                    </div>
                                    <input type="text" id="userId" disabled="" class="form-control"
                                           aria-describedby="t-userId" required="">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="t-fullName"
                                          style="width: 150px;">Họ và tên</span>
                                    </div>
                                    <input type="text" id="fullName" disabled="" class="form-control"
                                           aria-describedby="t-fullName" required="">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="t-phoneNumber"
                                          style="width: 150px;">Số điện thoại</span>
                                    </div>
                                    <input type="text" id="phoneNumber" name="favoritePersons" disabled=""
                                           class="form-control"
                                           aria-describedby="t-phoneNumber" required="">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="t-dateOfBirth"
                                          style="width: 150px;">Ngày sinh</span>
                                    </div>
                                    <input type="text" id="dateOfBirth" name="favoritePersons" disabled=""
                                           class="form-control"
                                           aria-describedby="t-dateOfBirth" required="">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="t-gender"
                                          style="width: 150px;">Giới tính</span>
                                    </div>
                                    <input type="text" id="gender" name="idReporters" disabled="" class="form-control"
                                           aria-describedby="t-gender" required="">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="t-address"
                                          style="width: 150px;">Địa chỉ</span>
                                    </div>
                                    <input type="text" id="address" name="idComments" disabled="" class="form-control"
                                           aria-describedby="t-address" required="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="dialog-post" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thông tin</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner" id="listImages">
                                    <div class="carousel-item active align-content-lg-center"
                                         style="height: 400px;align-content: center;"
                                         name="containerImage">
                                        <img id="avatarPost"
                                             width="250px"
                                             height="400px"
                                             class="d-block w-100" name="images"
                                             src="http://128.199.99.9:9090/public/uploads/3fa2359d05f6939in1d42cea22e54ef1e2.png">
                                    </div>
                                </div>
                                <div style="margin-top: 12px;" class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="t-postId"
                                          style="width: 150px;">Id bài đăng</span>
                                    </div>
                                    <input type="text" id="postId" disabled="" class="form-control"
                                           aria-describedby="t-postId" required="">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="t-userPostId"
                                          style="width: 150px;">Id người đăng</span>
                                    </div>
                                    <input type="text" id="userPostId" name="favoritePersons" disabled=""
                                           class="form-control"
                                           aria-describedby="t-userPostId" required="">
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                    <span class="input-group-text" id="t-addressPost"
                                          style="width: 150px;">Địa chỉ</span>
                                    </div>
                                    <input type="text" id="addressPost" name="favoritePersons" disabled=""
                                           class="form-control"
                                           aria-describedby="t-addressPost" required="">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center"> 2020 © SmartFind Admin brought to you by <a
                    href="http://smartfind.me/">Smartfind.me</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
</div>
<!-- ============================================================== -->
<script>
    function showDialogUserDetail(img, userId, fullName, dateOfBirth, gender, phoneNumber, address) {
        $('#dialog-user').modal('show');
        $('#avatarUser').attr("src", img);
        $('#userId').val(userId);
        $('#fullName').val(fullName);
        $('#dateOfBirth').val(dateOfBirth);
        $('#gender').val(gender);
        $('#phoneNumber').val(phoneNumber);
        $('#address').val(address);
    }

    function showDialogPostDetail(img, postId, userPostId, address) {
        $('#dialog-post').modal('show');
        $('#avatarPost').attr("src", img);
        $('#postId').val(postId);
        $('#userPostId').val(userPostId);
        $('#addressPost').val(address);
    }
</script>
<!-- ============================================================== -->
<script src="public/interface/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="public/interface/plugins/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="public/interface/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="public/interface/js/app-style-switcher.js"></script>
<script src="public/interface/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<!--Wave Effects -->
<script src="public/interface/js/waves.js"></script>
<!--Menu sidebar -->
<script src="public/interface/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="public/interface/js/custom.js"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="public/interface/plugins/bower_components/chartist/dist/chartist.min.js"></script>
<script src="public/interface/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="public/interface/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>