<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý bài đăng</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>

<div class="">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/index">Tìm trọ Sever</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="  navbar-nav fmy-2 my-lg-0  mr-auto">
                <li style="display: none" class="nav-item">
                    <a class="nav-link" href="/createAdAc">Quản lý nhân viên</a>
                </li>
            </ul>

            <ul class="  navbar-nav fmy-2 my-lg-0 ">
                <li class="nav-item">

                </li>
                <li class="nav-item">
                    <div class="btn-group">
                        <button type="button" class="btn btn-outline-dark text-light dropdown-toggle"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tài khoản
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/index">Tài khoản của bạn</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/">Đăng xuất</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-sm-2">
            <div class="list-group">

                <a href="/index" class="list-group-item list-group-item-action">
                    Thống kê
                </a>
                <a href="/postManage" class="list-group-item list-group-item-action">
                    Quản lý bài đăng
                </a>
                <a href="/userManage" class="list-group-item list-group-item-action">
                    Quản lý người dùng
                </a>
                <a href="/createAdAc" class="list-group-item list-group-item-action">
                    Quản lý nhân viên
                </a>
                <a href="/history" class="list-group-item list-group-item-action">
                    Lịch sử
                </a>
            </div>
        </div>
        <div class="col-sm-10 bg-light" style="padding-right: 2%">
            <div class=" search" style="display: none">
                <div class="row" style="margin-bottom: 10px">
                    <div class="col-8">
                        <div class="row">
                            <div class="col">
                                <select class="form-control" id="year" name="year">
                                    <option value="all">Trạng thái</option>
                                    <option value="-1">Chưa duyệt</option>
                                    <option value="0">Đang duyệt</option>
                                    <option value="1">Đã duyệt</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-control" id="month" name="month">
                                    <option value="all">Tháng</option>
                                    <option value="1">Tháng 1</option>
                                    <option value="2">Tháng 2</option>
                                    <option value="3">Tháng 3</option>
                                    <option value="4">Tháng 4</option>
                                    <option value="5">Tháng 5</option>
                                    <option value="6">Tháng 6</option>
                                    <option value="7">Tháng 7</option>
                                    <option value="8">Tháng 8</option>
                                    <option value="9">Tháng 9</option>
                                    <option value="10">Tháng 10</option>
                                    <option value="11">Tháng 11</option>
                                    <option value="12">Tháng 12</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-control" id="year" name="year">
                                    <option selected>Năm</option>
                                    <option>2020</option>
                                </select>
                            </div>
                            <div class="col">
                                <select class="form-control" id="type" name="type">
                                    <option>Thể loại phòng</option>
                                    <option>Trọ</option>
                                    <option>Nguyên Căn</option>
                                    <option>Chung cư</option>
                                    <option>Ở ghép</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2">Tìm kiếm
                        </button>
                    </div>
                </div>
            </div>
            <div>
                <table class="table">
                    <thead class="thead-dark ">
                    <tr>
                        <th colspan="3">Danh sách số bài chưa duyệt</th>
                    </tr>
                    <tr>
                        <th scope="col">Thời gian</th>
                        <th scope="col">Thông tin bài đăng</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data.unapprovedPost}}
                        <tr id='row-{{this._id}}'>
                            <td>
                                <div><b>Trạng thái:</b>
                                    {{#switch this.status}}
                                        {{#case '-1'}} Chưa duyệt {{/case}}
                                        {{#case '0'}} Đang duyệt {{/case}}
                                        {{#case '1'}} Đã duyệt {{/case}}
                                    {{/switch}}</div>
                                <br>
                                <div><b>Đăng:</b> {{this.createAt}}</div>
                                <br>
                                <div><b>Cập nhật:</b> {{this.updateAt}}</div>
                            </td>
                            <td>
                                <div><b>Địa chỉ: </b> {{this.address.detailAddress}}, {{this.address.communeWardTown}}
                                    , {{this.address.districtsTowns}}, {{this.address.provinceCity}}</div>
                                <br>
                                <div><b>Loại bài đăng: </b> {{this.product.category}}</div>
                                <br>
                                <div><b>Nội dung: </b> {{this.content}}</div>
                                <br>
                                <div><b>Giá
                                    phòng: </b> {{this.product.information.price}} {{this.product.information.unit}}
                                </div>
                            </td>
                            <td>

                                <form style="margin-bottom: 10px" action="/confirmPost" method="get">
                                    <div class="form-group" style="display: none">
                                        <input type="text" name="idProduct" value="{{this._id}}" class="form-control">
                                    </div>
                                    <button type="submit" name="update" value="1" class="btn btn-success">Duyệt</button>
                                </form>
                                <button name="update" value="1" class="btn btn-danger"
                                        onclick="deleteProduct('{{this._id}}')">
                                    Xóa
                                </button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>

                <table class="table">
                    <thead class="thead-dark ">
                    <tr>
                        <th colspan="3">Danh sách số bài đã từ chối duyệt</th>
                    </tr>
                    <tr>
                        <th scope="col">Thời gian</th>
                        <th scope="col">Thông tin bài đăng</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data.processingPost}}
                        <tr id='row-{{this._id}}'>
                            <td>
                                <div><b>Trạng thái:</b>
                                    {{#switch this.status}}
                                        {{#case '-1'}} Chưa duyệt {{/case}}
                                        {{#case '0'}} Đang duyệt {{/case}}
                                        {{#case '1'}} Đã duyệt {{/case}}
                                    {{/switch}}</div>
                                <br>
                                <div><b>Đăng:</b> {{this.createAt}}</div>
                                <br>
                                <div><b>Cập nhật:</b> {{this.updateAt}}</div>
                            </td>
                            <td>
                                <div><b>Địa chỉ: </b> {{this.address.detailAddress}}, {{this.address.communeWardTown}}
                                    , {{this.address.districtsTowns}}, {{this.address.provinceCity}}</div>
                                <br>
                                <div><b>Loại bài đăng: </b> {{this.product.category}}</div>
                                <br>
                                <div><b>Nội dung: </b> {{this.content}}</div>
                                <br>
                                <div><b>Giá
                                    phòng: </b> {{this.product.information.price}} {{this.product.information.unit}}
                                </div>
                            </td>
                            <td>

                                <form style="margin-bottom: 10px" action="/confirmPost" method="get">
                                    <div class="form-group" style="display: none">
                                        <input type="text" name="idProduct" value="{{this._id}}" class="form-control">
                                    </div>
                                    <button type="submit" name="update" value="1" class="btn btn-success">Duyệt lại
                                    </button>
                                </form>
                                <button name="update" value="1" class="btn btn-danger"
                                        onclick="deleteProduct('{{this._id}}')">
                                    Xóa
                                </button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>

                <table class="table">
                    <thead class="thead-dark ">
                    <tr>
                        <th colspan="3">Danh sách số bài đã duyệt</th>
                    </tr>
                    <tr>
                        <th scope="col">Thời gian</th>
                        <th scope="col">Thông tin bài đăng</th>
                        <th scope="col">Thao tác</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each data.successPost}}
                        <tr id='row-{{this._id}}'>
                            <td>
                                <div><b>Trạng thái:</b>
                                    {{#switch this.status}}
                                        {{#case '-1'}} Chưa duyệt {{/case}}
                                        {{#case '0'}} Đang duyệt {{/case}}
                                        {{#case '1'}} Đã duyệt {{/case}}
                                    {{/switch}}</div>
                                <br>
                                <div><b>Đăng:</b> {{this.createAt}}</div>
                                <br>
                                <div><b>Cập nhật:</b> {{this.updateAt}}</div>
                            </td>
                            <td>
                                <div><b>Địa chỉ: </b> {{this.address.detailAddress}}, {{this.address.communeWardTown}}
                                    , {{this.address.districtsTowns}}, {{this.address.provinceCity}}</div>
                                <br>
                                <div><b>Loại bài đăng: </b> {{this.product.category}}</div>
                                <br>
                                <div><b>Nội dung: </b> {{this.content}}</div>
                                <br>
                                <div><b>Giá
                                    phòng: </b> {{this.product.information.price}} {{this.product.information.unit}}
                                </div>
                            </td>
                            <td>

                                <form style="margin-bottom: 10px" action="/confirmPost" method="get">
                                    <div class="form-group" style="display: none">
                                        <input type="text" name="idProduct" value="{{this._id}}" class="form-control">
                                    </div>
                                    <button type="submit" name="update" value="1" class="btn btn-warning">Xem chi tiết
                                    </button>
                                </form>
                                <button name="update" value="1" class="btn btn-danger"
                                        onclick="deleteProduct('{{this._id}}')">
                                    Xóa
                                </button>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="titleDialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleDialog">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="contentDialog" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button id="cancelDialog" type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button id="successDialog" type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    let titleStt = 'Thông báo';
    let content = '';
    let titleOK = '';
    let titleCancel = '';

    function deleteProduct(id) {
        let adminId = '5fd4d983c89b6cc9ccfc86f2';
        let data = {
            id: id,
            adminId: adminId
        }
        console.log(data)
        $.ajax({
            type: "POST",
            url: "/delete-product",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (res) {
                console.log(res)
                if (!res || res.response_header.res_code != 200) {
                    content = 'Có lỗi sảy ra. Vui lòng thử lại sau!';
                    titleOK = 'Trở lại';
                    $('#successDialog').click(function () {
                        location.href = 'index';
                    });
                } else {
                    let status = res.response_body.status;
                    if (status == 'Success') {
                        $("#row-" + id).remove();
                        content = 'Xóa bài đăng thành công!';
                        titleOK = 'Trở lại';
                        $('#successDialog').click(function () {
                            location.href = 'postManage';
                        });
                    } else {
                        content = 'Xóa bài đăng thất bại. Vui lòng thử lại sau!';
                        titleOK = 'Thử lại';
                        $('#successDialog').click(function () {
                            location.href = 'index';
                        });
                    }
                }
                showDialog(titleStt, content, titleOK);
            }
        });
    }

    function showDialog(title, content, titleOK) {
        $('#dialog').modal('show');
        $('#titleDialog').text(title);
        $('#contentDialog').text(content);
        $('#cancelDialog').css("display", "none");
        $('#successDialog').text(titleOK);
    }
</script>
</body>
</html>
