<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 4 admin, bootstrap 4, css3 dashboard, bootstrap 4 dashboard, Ample lite admin bootstrap 4 dashboard, frontend, responsive bootstrap 4 admin template, Ample admin lite dashboard bootstrap 4 dashboard template">
    <meta name="description"
          content="Ample Admin Lite is powerful and clean admin dashboard template, inpired from Bootstrap Framework">
    <meta name="robots" content="noindex,nofollow">
    <title>Quản lý Bài viết</title>
    <link rel="canonical" href="https://www.wrappixel.com/templates/ample-admin-lite/"/>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png"
          href="http://128.199.99.9:9090/public/uploads/3fa2359d05f69391d42cea22e54ef1e2.png"/>
    <!-- Custom CSS -->
    <link href="public/interface/plugins/bower_components/chartist/dist/chartist.min.css" rel="stylesheet">
    <link rel="stylesheet"
          href="public/interface/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.css">
    <!-- Custom CSS -->
    <link href="public/interface/css/style.min.css" rel="stylesheet">
    <style>
        b {
            font-weight: bold;
        }
    </style>
</head>

<body>
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="lds-ripple">
        <div class="lds-pos"></div>
        <div class="lds-pos"></div>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
     data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar" data-navbarbg="skin5">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <div class="navbar-header" data-logobg="skin6">
                <!-- ============================================================== -->
                <!-- Logo -->
                <!-- ============================================================== -->
                <a class="navbar-brand" href="index">
                    <span class="span-title-e">SmartFindPro</span>
                </a>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <a class="nav-toggler waves-effect waves-light text-dark d-block d-md-none"
                   href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5">
                <ul class="navbar-nav d-none d-md-block d-lg-none">
                    <li class="nav-item">
                        <a class="nav-toggler nav-link waves-effect waves-light text-white"
                           href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- Right side toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav ml-auto d-flex align-items-center">

                    <!-- ============================================================== -->
                    <!-- Search -->
                    <!-- ============================================================== -->
<!--                    <li class=" in">-->
<!--                        <form role="search" class="app-search d-none d-md-block mr-3">-->
<!--                            <input type="text" placeholder="Tìm kiếm..." class="form-control mt-0">-->
<!--                            <a href="" class="active">-->
<!--                                <i class="fa fa-search"></i>-->
<!--                            </a>-->
<!--                        </form>-->
<!--                    </li>-->
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                    <li>
                        <a class="profile-pic" href="#">
                            <span class="text-white font-medium">{{user}}</span></a>
                    </li>
                    <!-- ============================================================== -->
                    <!-- User profile and search -->
                    <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <aside class="left-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <!-- User Profile-->
                    <li class="sidebar-item pt-2">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="index"
                           aria-expanded="false">
                            <i class="far fa-clock" aria-hidden="true"></i>
                            <span class="hide-menu">Thống kê</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="userManage"
                           aria-expanded="false">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            <span class="hide-menu">Quản lý Tài khoản</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="postManage"
                           aria-expanded="false">
                            <i class="fas fa-folder-open" aria-hidden="true"></i>
                            <span class="hide-menu">Quản lý Bài viết</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="createAdAc"
                           aria-expanded="false">
                            <i class="fas fa-id-card-alt" aria-hidden="true"></i>
                            <span class="hide-menu">Quản lý Nhân viên</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="history"
                           aria-expanded="false">
                            <i class="fas fa-history" aria-hidden="true"></i>
                            <span class="hide-menu">Lịch sử Hoạt động</span>
                        </a>
                    </li>
<!--                    <li class="sidebar-item">-->
<!--                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="reportProduct"-->
<!--                           aria-expanded="false">-->
<!--                            <i class="fas fa-comment-slash" aria-hidden="true"></i>-->
<!--                            <span class="hide-menu">Báo cáo</span>-->
<!--                        </a>-->
<!--                    </li>-->
                    <li class="sidebar-item">
                        <a class="sidebar-link waves-effect waves-dark sidebar-link" href="confirmUser"
                           aria-expanded="false">
                            <i class=" fas fa-arrow-circle-up" aria-hidden="true"></i>
                            <span class="hide-menu">Nâng cấp Tài khoản</span>
                        </a>
                    </li>
                </ul>

            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->

    <div class="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div class="d-md-flex mb-3">
                            <h3 class="box-title mb-0">Danh sách số bài chưa duyệt</h3>
                            <div class="col-md-3 col-sm-4 col-xs-6 ml-auto">
                                <i class=" fas fa-folder"></i>
                                <span class="counter text-info"
                                      style="font-size: 1.875em;">{{data.lengthOfUnapprovedPost}}</span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="unapprovedPost" class="table no-wrap">
                                <thead>
                                <tr>
                                    <th scope="col">Thời gian</th>
                                    <th scope="col">Thông tin Chi tiết</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.unapprovedPost}}
                                    <tr id='row-{{this._id}}'>
                                        <td>
                                            <div><b>Trạng thái:</b>
                                                {{#switch this.status}}
                                                    {{#case '-1'}} Chưa duyệt {{/case}}
                                                    {{#case '0'}} Đang duyệt {{/case}}
                                                    {{#case '1'}} Đã duyệt {{/case}}
                                                {{/switch}}</div>
                                            <br>
                                            <div><b>Đăng:</b> {{this.createAt}}</div>
                                            <br>
                                            <div><b>Cập nhật:</b> {{this.updateAt}}</div>
                                        </td>
                                        <td>
                                            <div><b>Địa chỉ: </b> {{this.address.detailAddress}}
                                                , {{this.address.communeWardTown}}
                                                , {{this.address.districtsTowns}}, {{this.address.provinceCity}}</div>
                                            <br>
                                            <div><b>Loại bài đăng: </b> {{this.product.category}}</div>
                                            <br>
                                            <div><b>Nội dung: </b> {{this.content}}</div>
                                            <br>
                                            <div><b>Giá
                                                phòng: </b> {{this.product.information.price}} {{this.product.information.unit}}
                                            </div>
                                        </td>
                                        <td>

                                            <form style="margin-bottom: 10px" action="/confirmPost" method="get">
                                                <div class="form-group" style="display: none">
                                                    <input type="text" name="idProduct" value="{{this._id}}"
                                                           class="form-control">
                                                </div>
                                                <button type="submit" name="update" value="1" class="btn btn-success">
                                                    Duyệt
                                                </button>
                                            </form>
                                            <button name="update" value="1" class="btn btn-danger"
                                                    onclick="deleteProduct('{{this._id}}')">
                                                Xóa
                                            </button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div class="d-md-flex mb-3">
                            <h3 class="box-title mb-0">Danh sách số bài đã từ chối duyệt</h3>
                            <div class="col-md-3 col-sm-4 col-xs-6 ml-auto">
                                <i class=" fas fa-folder"></i>
                                <span class="counter text-info"
                                      style="font-size: 1.875em;">{{data.lengthOfProcessingPost}}</span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="processingPost" class="table no-wrap">
                                <thead>
                                <tr>
                                    <th scope="col">Thời gian</th>
                                    <th scope="col">Thông tin Chi tiết</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.processingPost}}
                                    <tr id='row-{{this._id}}'>
                                        <td>
                                            <div><b>Trạng thái:</b>
                                                {{#switch this.status}}
                                                    {{#case '-1'}} Chưa duyệt {{/case}}
                                                    {{#case '0'}} Đang duyệt {{/case}}
                                                    {{#case '1'}} Đã duyệt {{/case}}
                                                {{/switch}}</div>
                                            <br>
                                            <div><b>Đăng:</b> {{this.createAt}}</div>
                                            <br>
                                            <div><b>Cập nhật:</b> {{this.updateAt}}</div>
                                        </td>
                                        <td>
                                            <div><b>Địa chỉ: </b> {{this.address.detailAddress}}
                                                , {{this.address.communeWardTown}}
                                                , {{this.address.districtsTowns}}, {{this.address.provinceCity}}</div>
                                            <br>
                                            <div><b>Loại bài đăng: </b> {{this.product.category}}</div>
                                            <br>
                                            <div><b>Nội dung: </b> {{this.content}}</div>
                                            <br>
                                            <div><b>Giá
                                                phòng: </b> {{this.product.information.price}} {{this.product.information.unit}}
                                            </div>
                                        </td>
                                        <td>

                                            <form style="margin-bottom: 10px" action="/confirmPost" method="get">
                                                <div class="form-group" style="display: none">
                                                    <input type="text" name="idProduct" value="{{this._id}}"
                                                           class="form-control">
                                                </div>
                                                <button type="submit" name="update" value="1" class="btn btn-success">
                                                    Duyệt
                                                    lại
                                                </button>
                                            </form>
                                            <button name="update" value="1" class="btn btn-danger"
                                                    onclick="deleteProduct('{{this._id}}')">
                                                Xóa
                                            </button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-sm-12">
                    <div class="white-box">
                        <div class="d-md-flex mb-3">
                            <h3 class="box-title mb-0">Danh sách số bài đã duyệt</h3>
                            <div class="col-md-3 col-sm-4 col-xs-6 ml-auto">
                                <i class=" fas fa-folder"></i>
                                <span class="counter text-info"
                                      style="font-size: 1.875em;">{{data.lengthOfSuccessPost}}</span>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="successPost" class="table no-wrap">
                                <thead>
                                <tr>
                                    <th scope="col">Thời gian</th>
                                    <th scope="col">Thông tin Chi tiết</th>
                                    <th scope="col">Tương tác</th>
                                    <th scope="col">Thao tác</th>
                                </tr>
                                </thead>
                                <tbody>
                                {{#each data.successPost}}
                                    <tr id='row-{{this.product._id}}'>
                                        <td>
                                            <div><b>Trạng thái:</b>
                                                {{#switch this.product.status}}
                                                    {{#case '-1'}} Chưa duyệt {{/case}}
                                                    {{#case '0'}} Đang duyệt {{/case}}
                                                    {{#case '1'}} Đã duyệt {{/case}}
                                                {{/switch}}</div>
                                            <br>
                                            <div><b>Đăng:</b> {{this.product.createAt}}</div>
                                            <br>
                                            <div><b>Cập nhật:</b> {{this.product.updateAt}}</div>
                                        </td>
                                        <td>
                                            <div><b>Địa chỉ: </b> {{this.product.address.detailAddress}}
                                                , {{this.product.address.communeWardTown}}
                                                , {{this.product.address.districtsTowns}}
                                                , {{this.product.address.provinceCity}}</div>
                                            <br>
                                            <div><b>Loại bài đăng: </b> {{this.product.product.category}}</div>
                                            <br>
                                            <div><b>Nội dung: </b> {{this.product.content}}</div>
                                            <br>
                                            <div><b>Giá
                                                phòng: </b> {{this.product.product.information.price}} {{this.product.product.information.unit}}
                                            </div>
                                        </td>
                                        <td>
                                            <div><b>Trạng thái: </b> {{this.product.total_people_lease}}
                                                /{{this.product.product.information.amountPeople}}
                                            </div>
                                            <br>
                                            <div><b>Số lượt theo dõi: </b> {{this.countOfProductFavorite}}</div>
                                            <br>
                                            <div><b>Số bình luận: </b> {{this.countOfProductComment}}</div>
                                            <br>
                                            <div><b>Số lượt chi sẻ: </b> {{this.productShare}}</div>
                                        </td>
                                        <td>

                                            <form style="margin-bottom: 10px" action="/confirmPost" method="get">
                                                <div class="form-group" style="display: none">
                                                    <input type="text" name="idProduct" value="{{this.product._id}}"
                                                           class="form-control">
                                                </div>
                                                <button type="submit" name="update" value="1" class="btn btn-warning">
                                                    Xem
                                                    chi tiết
                                                </button>
                                            </form>
                                            <button name="update" value="1" class="btn btn-danger"
                                                    onclick="deleteProduct('{{this.product._id}}')">
                                                Xóa
                                            </button>
                                        </td>
                                    </tr>
                                {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center"> 2020 © SmartFind Admin brought to you by <a
                    href="http://smartfind.me/">Smartfind.me</a>
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->

        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1"
         aria-labelledby="titleDialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleDialog">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="contentDialog" class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button id="cancelDialog" type="button" class="btn btn-secondary" data-dismiss="modal">Close
                    </button>
                    <button id="successDialog" type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
<script>
    let titleStt = 'Thông báo';
    let content = '';
    let titleOK = '';
    let titleCancel = '';

    function deleteProduct(id) {
        let adminId = '5fd4d983c89b6cc9ccfc86f2';
        let data = {
            id: id,
            adminId: adminId
        }
        console.log(data)
        $.ajax({
            type: "POST",
            url: "/delete-product",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (res) {
                console.log(res)
                if (!res || res.response_header.res_code != 200) {
                    content = 'Có lỗi sảy ra. Vui lòng thử lại sau!';
                    titleOK = 'Trở lại';
                    $('#successDialog').click(function () {
                        location.href = 'index';
                    });
                } else {
                    let status = res.response_body.status;
                    if (status == 'Success') {
                        $("#row-" + id).remove();
                        content = 'Xóa bài đăng thành công!';
                        titleOK = 'Trở lại';
                        $('#successDialog').click(function () {
                            location.href = 'postManage';
                        });
                    } else {
                        content = 'Xóa bài đăng thất bại. Vui lòng thử lại sau!';
                        titleOK = 'Thử lại';
                        $('#successDialog').click(function () {
                            location.href = 'index';
                        });
                    }
                }
                showDialog(titleStt, content, titleOK);
            }
        });
    }

    function showDialog(title, content, titleOK) {
        $('#dialog').modal('show');
        $('#titleDialog').text(title);
        $('#contentDialog').text(content);
        $('#cancelDialog').css("display", "none");
        $('#successDialog').text(titleOK);
    }
</script>
<!-- ============================================================== -->
<script src="public/interface/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap tether Core JavaScript -->
<script src="public/interface/plugins/bower_components/popper.js/dist/umd/popper.min.js"></script>
<script src="public/interface/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="public/interface/js/app-style-switcher.js"></script>
<script src="public/interface/plugins/bower_components/jquery-sparkline/jquery.sparkline.min.js"></script>
<!--Wave Effects -->
<script src="public/interface/js/waves.js"></script>
<!--Menu sidebar -->
<script src="public/interface/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="public/interface/js/custom.js"></script>
<!--This page JavaScript -->
<!--chartis chart-->
<script src="public/interface/plugins/bower_components/chartist/dist/chartist.min.js"></script>
<script src="public/interface/plugins/bower_components/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script src="public/interface/js/pages/dashboards/dashboard1.js"></script>
</body>

</html>