<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/index">Tìm trọ Sever</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="  navbar-nav fmy-2 my-lg-0  mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/createAdAc">Quản lý nhân viên</a>
            </li>
        </ul>

        <ul class="  navbar-nav fmy-2 my-lg-0 ">
            <li class="nav-item">

            </li>
            <li class="nav-item">
                <div class="btn-group">
                    <button type="button" class="btn btn-outline-dark text-light dropdown-toggle"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Tài khoản
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="/index">Tài khoản của bạn</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/">Đăng xuất</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col-sm-2">
        <div class="list-group">

            <a href="/index" class="list-group-item list-group-item-action">
                Thống kê
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                Quản lý cho thuê trọ
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                Quản lý tìm ở ghép
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                Quản lý dịch vụ chuyển đồ
            </a>
            <a href="#" class="list-group-item list-group-item-action">
                Quản lý người dùng
            </a>
        </div>
    </div>

    <div class="col-sm-10  rounded-bottom bg-light " style="padding-right: 3%">
        <hr>
        <hr>
        <div style="display: {{status}}" class="alert alert-warning alert-dismissible fade show" role="alert">
            {{textAlert}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form action="createAdAc" class="container col-8" id="formUD">
            <input type="text" name="nId" value="{{id}}" class="form-control" id="InputId" required
                   style="display: none">
            <div class="form-group">
                <label for="InputUsername">Tên đăng nhập</label>
                <input type="text" name="nUser" value="{{user}}" class="form-control" id="InputUsername" required
                       placeholder="Tên đăng nhập">
            </div>
            <div class="form-group">
                <label for="InputPassword">Mật khẩu</label>
                <input name="nPass" value="{{pass}}" class="form-control" id="InputPassword" required
                       placeholder="Mật khẩu">
            </div>
<!--            <div id="ConfirmPassword" class="form-group">-->
<!--                <label for="InputConfirmPassword">Nhập lại mật khẩu</label>-->
<!--                <input  name="cfPass" class="form-control" id="InputConfirmPassword" required-->
<!--                       placeholder="nhập lại mật khẩu">-->
<!--                <span id='message'></span>-->
<!--            </div>-->
            <div class="form-group">
                <label for="InputName">Tên nhân viên</label>
                <input type="text" name="nName" value="{{name}}" class="form-control" id="InputName" required
                       placeholder="">
            </div>

            <div class="form-group">
                <label for="InputPhone">Số điện thoại</label>
                <input type="text" name="nPhone" value="{{phone}}" class="form-control" id="InputPhone" required
                       placeholder="">
            </div>

            <div class="form-group">
                <label for="InputAddress">Địa chỉ</label>
                <input type="text" name="nAddress" value="{{address}}"class="form-control" id="InputAddress" required
                       placeholder="">
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="col-4">
                    <button type="submit" name="ud" value="1" class="btn btn-outline-dark col-sm-12 ">Cập nhật</button>
                </div>
                <div class="col-4">
                    <a href="createAdAc" name="cancel" class="btn btn-outline-dark col-sm-12 ">
                        Hủy tạo
                    </a>
                </div>
            </div>
        </form>
        <br> <br> <br>
    </div>
</div>
<script>
    $('#InputPassword, #InputConfirmPassword').on('keyup', function () {
        if ($('#InputPassword').val() == $('#InputConfirmPassword').val()) {
            $('#message').html('Matching').css('color', 'green');
        } else
            $('#message').html('Not Matching').css('color', 'red');
    });
</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>